USE [105881-admintest]
GO
/****** Object:  Table [dbo].[Z_Arrangement]    Script Date: 27.03.2019 12:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_Arrangement](
	[ArrID] [int] IDENTITY(1,1) NOT NULL,
	[KundeID] [int] NOT NULL,
	[ArrTypeID] [int] NULL,
	[ArrStedID] [int] NULL,
	[ArrDato] [date] NULL,
	[AnkKl] [nvarchar](5) NULL,
	[SluttKl] [nvarchar](5) NULL,
	[ArrAntall] [smallint] NULL,
	[KuvertPris] [real] NULL,
	[Aperitif] [nvarchar](255) NULL,
	[Meny] [nvarchar](max) NULL,
	[MatID] [int] NULL,
	[Drikke] [nvarchar](255) NULL,
	[Kaffe] [bit] NULL,
	[KaffePris] [real] NULL,
	[AnnenServ] [nvarchar](255) NULL,
	[Orientering] [bit] NULL,
	[Bidrag] [real] NULL,
	[GjestAntall] [smallint] NULL,
	[LeieBåtdekk] [real] NULL,
	[Båtdekk] [bit] NULL,
	[LeieMesseMann] [real] NULL,
	[MannMesse] [bit] NULL,
	[LeieMesseFor] [real] NULL,
	[ForMesse] [bit] NULL,
	[LeieMesseAkt] [real] NULL,
	[AktMesse] [bit] NULL,
	[SeilasTimer] [smallint] NULL,
	[SeilasPris] [real] NULL,
	[OvernattAnt] [smallint] NULL,
	[OvernattPris] [real] NULL,
	[AnsvNavn] [nvarchar](255) NULL,
	[AnsvTelf] [nvarchar](255) NULL,
	[ArrAnsvID] [int] NULL,
	[ArrAssID] [int] NULL,
	[KundeKontakt] [nvarchar](255) NULL,
	[KundeEpost] [nvarchar](255) NULL,
	[KundeTlf] [nvarchar](255) NULL,
	[BekrID] [int] NULL,
	[Merknader] [nvarchar](max) NULL,
	[Oppgjort] [bit] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Arrangement] PRIMARY KEY CLUSTERED 
(
	[ArrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_ArrMat]    Script Date: 27.03.2019 12:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_ArrMat](
	[MatID] [int] IDENTITY(1,1) NOT NULL,
	[MatKode] [nvarchar](2) NOT NULL,
	[MatBeskrivelse] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ArrMat] PRIMARY KEY CLUSTERED 
(
	[MatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_ArrPers]    Script Date: 27.03.2019 12:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_ArrPers](
	[PersID] [int] IDENTITY(1,1) NOT NULL,
	[Person] [nvarchar](3) NOT NULL,
	[PersonNavn] [nvarchar](255) NOT NULL,
	[Sluttet] [bit] NOT NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_ArrPers] PRIMARY KEY CLUSTERED 
(
	[PersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_ArrStatus]    Script Date: 27.03.2019 12:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_ArrStatus](
	[BekrID] [int] IDENTITY(1,1) NOT NULL,
	[BekrShort] [nvarchar](1) NOT NULL,
	[Bekreftelse] [nvarchar](255) NULL,
	[Arrangering] [bit] NOT NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_ArrStatus] PRIMARY KEY CLUSTERED 
(
	[BekrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_ArrSted]    Script Date: 27.03.2019 12:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_ArrSted](
	[ArrStedID] [int] IDENTITY(1,1) NOT NULL,
	[Sted] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ArrSted] PRIMARY KEY CLUSTERED 
(
	[ArrStedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_ArrTyper]    Script Date: 27.03.2019 12:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_ArrTyper](
	[ArrTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ArrType] [nvarchar](25) NOT NULL,
	[ArrBeskrivelse] [nvarchar](255) NULL,
	[AltaInternt] [bit] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_ArrTyper] PRIMARY KEY CLUSTERED 
(
	[ArrTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_ArrVarer]    Script Date: 27.03.2019 12:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_ArrVarer](
	[ArrVareID] [int] IDENTITY(1,1) NOT NULL,
	[ArrID] [int] NOT NULL,
	[VareID] [int] NOT NULL,
	[AntFakt] [smallint] NULL,
	[AntBong] [smallint] NULL,
	[AntKontant] [smallint] NULL,
	[Merknader] [nvarchar](255) NULL,
 CONSTRAINT [PK_ArrVarer] PRIMARY KEY CLUSTERED 
(
	[ArrVareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_Kunde]    Script Date: 27.03.2019 12:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_Kunde](
	[KundeID] [int] IDENTITY(1,1) NOT NULL,
	[KundeNavn] [nvarchar](255) NOT NULL,
	[KundeKontakt] [nvarchar](255) NULL,
	[KundeEpost] [nvarchar](255) NULL,
	[FaktAdrGatePB] [nvarchar](255) NULL,
	[FaktAdrSted] [nvarchar](255) NULL,
	[Kommentarer] [nvarchar](max) NULL,
	[AltaInternt] [bit] NOT NULL,
	[Sponsor] [bit] NOT NULL,
	[Firma] [bit] NOT NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Kunde] PRIMARY KEY CLUSTERED 
(
	[KundeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_StandardEpost]    Script Date: 27.03.2019 12:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_StandardEpost](
	[StdID] [int] IDENTITY(1,1) NOT NULL,
	[HovedOrdre] [nvarchar](255) NULL,
	[CCOrdre] [nvarchar](255) NULL,
	[HovedFaktGrunn] [nvarchar](255) NULL,
	[CCFaktGrunn] [nvarchar](255) NULL,
	[HovedArrListe] [nvarchar](255) NULL,
	[CCArrListe] [nvarchar](255) NULL,
	[HovedVareBeh] [nvarchar](255) NULL,
	[CCVareBeh] [nvarchar](255) NULL,
	[HovedFaktura] [nvarchar](255) NULL,
	[CCFaktura] [nvarchar](255) NULL,
	[FilbaneLager] [nvarchar](255) NULL,
 CONSTRAINT [PK_StandardEpost] PRIMARY KEY CLUSTERED 
(
	[StdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_StandardVerdier]    Script Date: 27.03.2019 12:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_StandardVerdier](
	[StdID] [int] IDENTITY(1,1) NOT NULL,
	[TimePrisSeil] [real] NULL,
	[StkPrisBidrag] [real] NULL,
	[StkPrisKaffe] [real] NULL,
	[StkPrisKuvert] [real] NULL,
	[stkPrisOvernatt] [real] NULL,
	[LeieBåtdekk] [real] NULL,
	[LeieMesseMann] [real] NULL,
	[LeieMesseFor] [real] NULL,
	[LeieMesseAkt] [real] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_StandardVerdier] PRIMARY KEY CLUSTERED 
(
	[StdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_VareKorr]    Script Date: 27.03.2019 12:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_VareKorr](
	[VareKorrID] [int] IDENTITY(1,1) NOT NULL,
	[VareID] [int] NOT NULL,
	[AntKorrig] [smallint] NULL,
	[AntInn] [smallint] NULL,
	[AntTelt] [int] NULL,
	[AntStatusStart] [int] NULL,
	[Bruker] [nvarchar](255) NULL,
	[Merknader] [nvarchar](255) NULL,
	[KorrDato] [date] NULL,
 CONSTRAINT [PK_VareKorr] PRIMARY KEY CLUSTERED 
(
	[VareKorrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_Varer]    Script Date: 27.03.2019 12:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_Varer](
	[VareID] [int] IDENTITY(1,1) NOT NULL,
	[VareNavn] [nvarchar](255) NULL,
	[VareTypeID] [int] NOT NULL,
	[EnhetVolum] [real] NULL,
	[Emballasje] [nvarchar](10) NULL,
	[PrisInn] [real] NULL,
	[StatusBeholdning] [real] NULL,
	[StatusDato] [date] NULL,
	[AntKorrig] [smallint] NULL,
	[AntInn] [smallint] NULL,
	[AntTelt] [int] NULL,
	[Merknader] [nvarchar](255) NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Varer] PRIMARY KEY CLUSTERED 
(
	[VareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_VarerSalg]    Script Date: 27.03.2019 12:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_VarerSalg](
	[VareSalgID] [int] IDENTITY(1,1) NOT NULL,
	[VareID] [int] NOT NULL,
	[PrisUt] [real] NULL,
	[SkjenkeAntall] [smallint] NULL,
	[Skjenkemål] [nvarchar](255) NULL,
	[AntFakt] [smallint] NULL,
	[AntBong] [smallint] NULL,
	[AntKontant] [smallint] NULL,
	[Merknader] [nvarchar](255) NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_VarerSalg] PRIMARY KEY CLUSTERED 
(
	[VareSalgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_VareTyper]    Script Date: 27.03.2019 12:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_VareTyper](
	[VareTypeID] [int] IDENTITY(1,1) NOT NULL,
	[VareType] [nvarchar](1) NOT NULL,
	[VareBeskrivelse] [nvarchar](255) NULL,
 CONSTRAINT [PK_VareTyper] PRIMARY KEY CLUSTERED 
(
	[VareTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_vwArrangement]    Script Date: 27.03.2019 12:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_vwArrangement](
	[ArrDato] [date] NULL,
	[AnkKl] [nvarchar](5) NULL,
	[SluttKl] [nvarchar](5) NULL,
	[Sted] [nvarchar](255) NOT NULL,
	[KundeNavn] [nvarchar](255) NOT NULL,
	[ArrType] [nvarchar](25) NOT NULL,
	[ArrID] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Z_Arrangement] ON 

GO
SET IDENTITY_INSERT [dbo].[Z_Arrangement] OFF
SET IDENTITY_INSERT [dbo].[Z_ArrMat] ON 

INSERT [dbo].[Z_ArrMat] ([MatID], [MatKode], [MatBeskrivelse]) VALUES (1, N'Sp', N'Spekemat')
INSERT [dbo].[Z_ArrMat] ([MatID], [MatKode], [MatBeskrivelse]) VALUES (2, N'Sk', N'Skipskost')
INSERT [dbo].[Z_ArrMat] ([MatID], [MatKode], [MatBeskrivelse]) VALUES (3, N'Lu', N'Lutefisk')
SET IDENTITY_INSERT [dbo].[Z_ArrMat] OFF
SET IDENTITY_INSERT [dbo].[Z_ArrPers] ON 

INSERT [dbo].[Z_ArrPers] ([PersID], [Person], [PersonNavn], [Sluttet]) VALUES (1, N'NN', N'Ikke utnevnt', 0)
INSERT [dbo].[Z_ArrPers] ([PersID], [Person], [PersonNavn], [Sluttet]) VALUES (2, N'SOM', N'Svein O Mogan', 1)
INSERT [dbo].[Z_ArrPers] ([PersID], [Person], [PersonNavn], [Sluttet]) VALUES (3, N'SAK', N'Svein Arild Karlsen', 0)
SET IDENTITY_INSERT [dbo].[Z_ArrPers] OFF
SET IDENTITY_INSERT [dbo].[Z_ArrStatus] ON 

INSERT [dbo].[Z_ArrStatus] ([BekrID], [BekrShort], [Bekreftelse], [Arrangering]) VALUES (1, N'U', N'Ubekreftet', 0)
INSERT [dbo].[Z_ArrStatus] ([BekrID], [BekrShort], [Bekreftelse], [Arrangering]) VALUES (2, N'B', N'Bestilt', 0)
INSERT [dbo].[Z_ArrStatus] ([BekrID], [BekrShort], [Bekreftelse], [Arrangering]) VALUES (3, N'G', N'Gjennomført', 1)
SET IDENTITY_INSERT [dbo].[Z_ArrStatus] OFF
SET IDENTITY_INSERT [dbo].[Z_ArrSted] ON 

INSERT [dbo].[Z_ArrSted] ([ArrStedID], [Sted]) VALUES (1, N'Mannskapsmesse')
INSERT [dbo].[Z_ArrSted] ([ArrStedID], [Sted]) VALUES (2, N'Båtdekk')
INSERT [dbo].[Z_ArrSted] ([ArrStedID], [Sted]) VALUES (3, N'Aktre messe')
SET IDENTITY_INSERT [dbo].[Z_ArrSted] OFF
SET IDENTITY_INSERT [dbo].[Z_ArrTyper] ON 

INSERT [dbo].[Z_ArrTyper] ([ArrTypeID], [ArrType], [ArrBeskrivelse], [AltaInternt]) VALUES (1, N'Messeaften', N'Middag', 0)
INSERT [dbo].[Z_ArrTyper] ([ArrTypeID], [ArrType], [ArrBeskrivelse], [AltaInternt]) VALUES (2, N'Ankerdram', N'Øl og dram', 0)
INSERT [dbo].[Z_ArrTyper] ([ArrTypeID], [ArrType], [ArrBeskrivelse], [AltaInternt]) VALUES (3, N'Uspesifisert', N'Frivakt, tilfeldig besøk, dugnad o.l.', 0)
SET IDENTITY_INSERT [dbo].[Z_ArrTyper] OFF
SET IDENTITY_INSERT [dbo].[Z_ArrVarer] ON 

INSERT [dbo].[Z_ArrVarer] ([ArrVareID], [ArrID], [VareID], [AntFakt], [AntBong], [AntKontant], [Merknader]) VALUES (56, 18, 1, 0, 0, 0, NULL)
INSERT [dbo].[Z_ArrVarer] ([ArrVareID], [ArrID], [VareID], [AntFakt], [AntBong], [AntKontant], [Merknader]) VALUES (57, 18, 2, 0, 0, 0, NULL)
INSERT [dbo].[Z_ArrVarer] ([ArrVareID], [ArrID], [VareID], [AntFakt], [AntBong], [AntKontant], [Merknader]) VALUES (58, 18, 3, 0, 0, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Z_ArrVarer] OFF
SET IDENTITY_INSERT [dbo].[Z_Kunde] ON 

INSERT [dbo].[Z_Kunde] ([KundeID], [KundeNavn], [KundeKontakt], [KundeEpost], [FaktAdrGatePB], [FaktAdrSted], [Kommentarer], [AltaInternt], [Sponsor], [Firma]) VALUES (1, N'Intendant/stuert', NULL, NULL, NULL, NULL, NULL, 1, 0, 1)
INSERT [dbo].[Z_Kunde] ([KundeID], [KundeNavn], [KundeKontakt], [KundeEpost], [FaktAdrGatePB], [FaktAdrSted], [Kommentarer], [AltaInternt], [Sponsor], [Firma]) VALUES (2, N'Besetning', NULL, NULL, NULL, NULL, NULL, 1, 0, 1)
INSERT [dbo].[Z_Kunde] ([KundeID], [KundeNavn], [KundeKontakt], [KundeEpost], [FaktAdrGatePB], [FaktAdrSted], [Kommentarer], [AltaInternt], [Sponsor], [Firma]) VALUES (3, N'Lloyds Register Consultants', NULL, N'bjorn.inge.bakken@lr.org', NULL, NULL, NULL, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Z_Kunde] OFF
SET IDENTITY_INSERT [dbo].[Z_StandardEpost] ON 

INSERT [dbo].[Z_StandardEpost] ([StdID], [HovedOrdre], [CCOrdre], [HovedFaktGrunn], [CCFaktGrunn], [HovedArrListe], [CCArrListe], [HovedVareBeh], [CCVareBeh], [HovedFaktura], [CCFaktura], [FilbaneLager]) VALUES (1, NULL, N'selskap@m314alta.org;leder@m314alta.org;stuert@m314alta.org', N'regnskap@m314alta.org', N'selskap@m314alta.org', N'selskap@m314alta.org;skipssjef@m314alta.org;leder@m314alta.org;nk@m314alta.org', N'regnskap@m314alta.org', N'selskap@m314alta.org', N'regnskap@m314alta.org', NULL, N'selskap@m314alta.org;regnskap@m314alta.org', N'D:\')
SET IDENTITY_INSERT [dbo].[Z_StandardEpost] OFF
SET IDENTITY_INSERT [dbo].[Z_StandardVerdier] ON 

INSERT [dbo].[Z_StandardVerdier] ([StdID], [TimePrisSeil], [StkPrisBidrag], [StkPrisKaffe], [StkPrisKuvert], [stkPrisOvernatt], [LeieBåtdekk], [LeieMesseMann], [LeieMesseFor], [LeieMesseAkt]) VALUES (1, 5000, 0, 20, 400, 250, 5000, 5000, 3000, 2000)
SET IDENTITY_INSERT [dbo].[Z_StandardVerdier] OFF
SET IDENTITY_INSERT [dbo].[Z_VareKorr] ON 

INSERT [dbo].[Z_VareKorr] ([VareKorrID], [VareID], [AntKorrig], [AntInn], [AntTelt], [AntStatusStart], [Bruker], [Merknader], [KorrDato]) VALUES (1, 1, -1, 24, 0, 0, N'Gerhard Ihlen', NULL, CAST(N'2014-09-18' AS Date))
INSERT [dbo].[Z_VareKorr] ([VareKorrID], [VareID], [AntKorrig], [AntInn], [AntTelt], [AntStatusStart], [Bruker], [Merknader], [KorrDato]) VALUES (4, 4, 2, 0, 12, 0, N'Roger Monsen', NULL, CAST(N'2014-09-20' AS Date))
INSERT [dbo].[Z_VareKorr] ([VareKorrID], [VareID], [AntKorrig], [AntInn], [AntTelt], [AntStatusStart], [Bruker], [Merknader], [KorrDato]) VALUES (5, 5, 2, 0, 12, 0, N'Ole Olesen', NULL, CAST(N'2014-10-21' AS Date))
SET IDENTITY_INSERT [dbo].[Z_VareKorr] OFF
SET IDENTITY_INSERT [dbo].[Z_Varer] ON 

INSERT [dbo].[Z_Varer] ([VareID], [VareNavn], [VareTypeID], [EnhetVolum], [Emballasje], [PrisInn], [StatusBeholdning], [StatusDato], [AntKorrig], [AntInn], [AntTelt], [Merknader]) VALUES (1, N'Ringnes pils', 2, 0.33, N'Flaske', 18.9, 157, CAST(N'2014-12-11' AS Date), 0, 0, 0, N'')
INSERT [dbo].[Z_Varer] ([VareID], [VareNavn], [VareTypeID], [EnhetVolum], [Emballasje], [PrisInn], [StatusBeholdning], [StatusDato], [AntKorrig], [AntInn], [AntTelt], [Merknader]) VALUES (2, N'White Dog', 2, 0.33, N'Flaske', 0, 88, CAST(N'2014-12-11' AS Date), 0, 0, 0, N'')
INSERT [dbo].[Z_Varer] ([VareID], [VareNavn], [VareTypeID], [EnhetVolum], [Emballasje], [PrisInn], [StatusBeholdning], [StatusDato], [AntKorrig], [AntInn], [AntTelt], [Merknader]) VALUES (3, N'Heineken', 2, 0.5, N'Boks', 18.9, 114, CAST(N'2014-12-11' AS Date), 0, 0, 0, N'')
SET IDENTITY_INSERT [dbo].[Z_Varer] OFF
SET IDENTITY_INSERT [dbo].[Z_VarerSalg] ON 

INSERT [dbo].[Z_VarerSalg] ([VareSalgID], [VareID], [PrisUt], [SkjenkeAntall], [Skjenkemål], [AntFakt], [AntBong], [AntKontant], [Merknader]) VALUES (1, 1, 25, 1, N'Hel enhet', 0, 0, 0, N'')
INSERT [dbo].[Z_VarerSalg] ([VareSalgID], [VareID], [PrisUt], [SkjenkeAntall], [Skjenkemål], [AntFakt], [AntBong], [AntKontant], [Merknader]) VALUES (2, 2, 25, 1, N'Hel enhet', 0, 0, 0, N'')
INSERT [dbo].[Z_VarerSalg] ([VareSalgID], [VareID], [PrisUt], [SkjenkeAntall], [Skjenkemål], [AntFakt], [AntBong], [AntKontant], [Merknader]) VALUES (3, 3, 25, 1, N'Hel enhet', 0, 0, 0, N'')
SET IDENTITY_INSERT [dbo].[Z_VarerSalg] OFF
SET IDENTITY_INSERT [dbo].[Z_VareTyper] ON 

INSERT [dbo].[Z_VareTyper] ([VareTypeID], [VareType], [VareBeskrivelse]) VALUES (1, N'M', N'Mineralvann')
INSERT [dbo].[Z_VareTyper] ([VareTypeID], [VareType], [VareBeskrivelse]) VALUES (2, N'Ø', N'Øl')
INSERT [dbo].[Z_VareTyper] ([VareTypeID], [VareType], [VareBeskrivelse]) VALUES (3, N'V', N'Vin')
SET IDENTITY_INSERT [dbo].[Z_VareTyper] OFF
INSERT [dbo].[Z_vwArrangement] ([ArrDato], [AnkKl], [SluttKl], [Sted], [KundeNavn], [ArrType], [ArrID]) VALUES (CAST(N'2014-11-19' AS Date), N'18:00', N'23:00', N'Mannskapsmesse', N'Lloyds Register Consultants', N'Middag', 6)
INSERT [dbo].[Z_vwArrangement] ([ArrDato], [AnkKl], [SluttKl], [Sted], [KundeNavn], [ArrType], [ArrID]) VALUES (CAST(N'2017-11-24' AS Date), N'17:00', N'23:00', N'Mannskapsmesse', N'Even Kristoffersen', N'Middag', 7)
INSERT [dbo].[Z_vwArrangement] ([ArrDato], [AnkKl], [SluttKl], [Sted], [KundeNavn], [ArrType], [ArrID]) VALUES (CAST(N'2017-01-19' AS Date), N'18:00', N'23:00', N'Mannskapsmesse', N'Lloyds Register Consultants', N'Middag', 8)
GO
/****** Object:  Index [IX_Arrangement]    Script Date: 27.03.2019 12:42:36 ******/
CREATE NONCLUSTERED INDEX [IX_Arrangement] ON [dbo].[Z_Arrangement]
(
	[ArrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ArrSted]    Script Date: 27.03.2019 12:42:36 ******/
CREATE NONCLUSTERED INDEX [IX_ArrSted] ON [dbo].[Z_Arrangement]
(
	[ArrStedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ArrType]    Script Date: 27.03.2019 12:42:36 ******/
CREATE NONCLUSTERED INDEX [IX_ArrType] ON [dbo].[Z_Arrangement]
(
	[ArrTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bekr]    Script Date: 27.03.2019 12:42:36 ******/
CREATE NONCLUSTERED INDEX [IX_Bekr] ON [dbo].[Z_Arrangement]
(
	[BekrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kunde]    Script Date: 27.03.2019 12:42:36 ******/
CREATE NONCLUSTERED INDEX [IX_Kunde] ON [dbo].[Z_Arrangement]
(
	[KundeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mat]    Script Date: 27.03.2019 12:42:36 ******/
CREATE NONCLUSTERED INDEX [IX_Mat] ON [dbo].[Z_Arrangement]
(
	[MatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Arr]    Script Date: 27.03.2019 12:42:36 ******/
CREATE NONCLUSTERED INDEX [IX_Arr] ON [dbo].[Z_ArrVarer]
(
	[ArrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Varer]    Script Date: 27.03.2019 12:42:36 ******/
CREATE NONCLUSTERED INDEX [IX_Varer] ON [dbo].[Z_ArrVarer]
(
	[VareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vare]    Script Date: 27.03.2019 12:42:36 ******/
CREATE NONCLUSTERED INDEX [IX_Vare] ON [dbo].[Z_VareKorr]
(
	[VareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VareTyper]    Script Date: 27.03.2019 12:42:36 ******/
CREATE NONCLUSTERED INDEX [IX_VareTyper] ON [dbo].[Z_Varer]
(
	[VareTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VarerSalg]    Script Date: 27.03.2019 12:42:36 ******/
CREATE NONCLUSTERED INDEX [IX_VarerSalg] ON [dbo].[Z_VarerSalg]
(
	[VareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Z_Arrangement]  WITH CHECK ADD  CONSTRAINT [FK_Arrangement_ArrMat] FOREIGN KEY([MatID])
REFERENCES [dbo].[Z_ArrMat] ([MatID])
GO
ALTER TABLE [dbo].[Z_Arrangement] CHECK CONSTRAINT [FK_Arrangement_ArrMat]
GO
ALTER TABLE [dbo].[Z_Arrangement]  WITH CHECK ADD  CONSTRAINT [FK_Arrangement_ArrStatus] FOREIGN KEY([BekrID])
REFERENCES [dbo].[Z_ArrStatus] ([BekrID])
GO
ALTER TABLE [dbo].[Z_Arrangement] CHECK CONSTRAINT [FK_Arrangement_ArrStatus]
GO
ALTER TABLE [dbo].[Z_Arrangement]  WITH CHECK ADD  CONSTRAINT [FK_Arrangement_ArrSted] FOREIGN KEY([ArrStedID])
REFERENCES [dbo].[Z_ArrSted] ([ArrStedID])
GO
ALTER TABLE [dbo].[Z_Arrangement] CHECK CONSTRAINT [FK_Arrangement_ArrSted]
GO
ALTER TABLE [dbo].[Z_Arrangement]  WITH CHECK ADD  CONSTRAINT [FK_Arrangement_ArrTyper] FOREIGN KEY([ArrTypeID])
REFERENCES [dbo].[Z_ArrTyper] ([ArrTypeID])
GO
ALTER TABLE [dbo].[Z_Arrangement] CHECK CONSTRAINT [FK_Arrangement_ArrTyper]
GO
ALTER TABLE [dbo].[Z_Arrangement]  WITH CHECK ADD  CONSTRAINT [FK_Arrangement_Kunde] FOREIGN KEY([KundeID])
REFERENCES [dbo].[Z_Kunde] ([KundeID])
GO
ALTER TABLE [dbo].[Z_Arrangement] CHECK CONSTRAINT [FK_Arrangement_Kunde]
GO
ALTER TABLE [dbo].[Z_ArrVarer]  WITH CHECK ADD  CONSTRAINT [FK_ArrVarer_Arrangement] FOREIGN KEY([ArrID])
REFERENCES [dbo].[Z_Arrangement] ([ArrID])
GO
ALTER TABLE [dbo].[Z_ArrVarer] CHECK CONSTRAINT [FK_ArrVarer_Arrangement]
GO
ALTER TABLE [dbo].[Z_ArrVarer]  WITH CHECK ADD  CONSTRAINT [FK_ArrVarer_Varer] FOREIGN KEY([VareID])
REFERENCES [dbo].[Z_Varer] ([VareID])
GO
ALTER TABLE [dbo].[Z_ArrVarer] CHECK CONSTRAINT [FK_ArrVarer_Varer]
GO
ALTER TABLE [dbo].[Z_VareKorr]  WITH CHECK ADD  CONSTRAINT [FK_VareKorr_VareKorr] FOREIGN KEY([VareID])
REFERENCES [dbo].[Z_Varer] ([VareID])
GO
ALTER TABLE [dbo].[Z_VareKorr] CHECK CONSTRAINT [FK_VareKorr_VareKorr]
GO
ALTER TABLE [dbo].[Z_Varer]  WITH CHECK ADD  CONSTRAINT [FK_Varer_VareTyper] FOREIGN KEY([VareTypeID])
REFERENCES [dbo].[Z_VareTyper] ([VareTypeID])
GO
ALTER TABLE [dbo].[Z_Varer] CHECK CONSTRAINT [FK_Varer_VareTyper]
GO
ALTER TABLE [dbo].[Z_VarerSalg]  WITH CHECK ADD  CONSTRAINT [FK_VarerSalg_Varer] FOREIGN KEY([VareID])
REFERENCES [dbo].[Z_Varer] ([VareID])
GO
ALTER TABLE [dbo].[Z_VarerSalg] CHECK CONSTRAINT [FK_VarerSalg_Varer]
GO
ALTER TABLE [dbo].[Z_VareTyper]  WITH CHECK ADD  CONSTRAINT [FK_VareTyper_VareTyper1] FOREIGN KEY([VareTypeID])
REFERENCES [dbo].[Z_VareTyper] ([VareTypeID])
GO
ALTER TABLE [dbo].[Z_VareTyper] CHECK CONSTRAINT [FK_VareTyper_VareTyper1]
GO
