USE [105881-pms]
GO
/****** Object:  Table [dbo].[Struktur]    Script Date: 02.04.2019 10:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Struktur](
	[StrID] [int] IDENTITY(1,1) NOT NULL,
	[StrNr] [nvarchar](25) NULL,
	[Trinn] [int] NOT NULL,
	[StrElement] [nvarchar](200) NULL,
	[StrKomponenter] [nvarchar](max) NULL,
	[ParentID] [int] NULL,
	[AntUtstyr] [int] NULL,
	[Merknad] [nvarchar](max) NULL,
	[Benyttes] [bit] NULL,
	[Lavest] [bit] NULL,
	[StrNrTidl] [nvarchar](255) NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Struktur] PRIMARY KEY CLUSTERED 
(
	[StrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwStrukturTre]    Script Date: 02.04.2019 10:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwStrukturTre]
AS
SELECT        TOP (100) PERCENT StrID, StrNr, StrElement, ParentID, Benyttes, StrNr + ' ' + StrElement AS StrNavn
FROM            dbo.Struktur
WHERE        (Benyttes = 1)
ORDER BY StrNr
GO
/****** Object:  Table [dbo].[Arbeidsdatoer]    Script Date: 02.04.2019 10:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arbeidsdatoer](
	[ArbID] [int] IDENTITY(1,1) NOT NULL,
	[ArbDato] [datetime] NULL,
 CONSTRAINT [PK_Arbeidsdatoer] PRIMARY KEY CLUSTERED 
(
	[ArbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Arbeidsliste]    Script Date: 02.04.2019 10:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arbeidsliste](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JobbID] [int] NULL,
	[ArbID] [int] NOT NULL,
 CONSTRAINT [PK_Arbeidsliste] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brannapp]    Script Date: 02.04.2019 10:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brannapp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeApparat] [nvarchar](255) NULL,
	[Size] [nvarchar](255) NULL,
	[Skiftet] [nvarchar](255) NULL,
	[SlukkType] [nvarchar](255) NULL,
	[FullVekt] [nvarchar](255) NULL,
	[CO2VektDriv] [nvarchar](255) NULL,
	[Plassering] [nvarchar](255) NULL,
	[SvcDato] [datetime] NULL,
	[Intervall] [datetime] NULL,
	[Signatur] [nvarchar](255) NULL,
 CONSTRAINT [PK_Brannapp] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistanseTid]    Script Date: 02.04.2019 10:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistanseTid](
	[SerID] [int] IDENTITY(1,1) NOT NULL,
	[Seilas] [nvarchar](255) NULL,
	[Dato] [datetime] NULL,
	[Merknad] [nvarchar](max) NULL,
	[SeiltDistanse] [real] NULL,
	[TotalDistanse] [real] NULL,
	[SeiltTid] [real] NULL,
	[TotalTid] [real] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_DistanseTid] PRIMARY KEY CLUSTERED 
(
	[SerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dokumenter]    Script Date: 02.04.2019 10:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dokumenter](
	[DokID] [int] IDENTITY(1,1) NOT NULL,
	[DokFork] [nvarchar](255) NULL,
	[DokTittel] [nvarchar](255) NULL,
	[Utgiver] [nvarchar](255) NULL,
	[Utgitt] [nvarchar](255) NULL,
	[Media] [nvarchar](255) NULL,
	[Tegning] [bit] NULL,
	[PlassID] [int] NULL,
	[DokFil] [varchar](8000) NULL,
	[Antall] [int] NULL,
	[HylleSkap] [nvarchar](255) NULL,
	[Merknad] [nvarchar](255) NULL,
	[DetaljID] [int] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Dokumenter] PRIMARY KEY CLUSTERED 
(
	[DokID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobb]    Script Date: 02.04.2019 10:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobb](
	[JobbID] [int] IDENTITY(1,1) NOT NULL,
	[UtstyrID] [int] NULL,
	[DetaljID] [int] NULL,
	[PriID] [int] NULL,
	[JobbKode] [nvarchar](5) NULL,
	[JobbNavn] [nvarchar](255) NULL,
	[JobbBeskrivelse] [nvarchar](max) NULL,
	[Kontroll] [bit] NULL,
	[Arbeid] [bit] NULL,
	[IntTID] [int] NULL,
	[IntervallDag] [int] NULL,
	[IntervallUke] [int] NULL,
	[IntervallMnd] [real] NULL,
	[IntervallYear] [int] NULL,
	[Frist] [datetime] NULL,
	[Startet] [bit] NULL,
	[Completed] [bit] NULL,
	[IntervallGange] [int] NULL,
	[CompletedGange] [int] NULL,
	[NesteGange] [int] NULL,
	[Dokking] [bit] NULL,
	[Underveis] [bit] NULL,
	[UnderLand] [bit] NULL,
	[Dugnad] [bit] NULL,
	[SendtAnsv] [datetime] NULL,
	[KvalSikr] [nvarchar](max) NULL,
	[AnsvPerson] [nvarchar](255) NULL,
	[StillingID] [int] NULL,
	[Kriterier] [varchar](8000) NULL,
	[Skjema] [varchar](8000) NULL,
	[Merknad] [nvarchar](max) NULL,
	[Flag] [bit] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Jobb] PRIMARY KEY CLUSTERED 
(
	[JobbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobbDato]    Script Date: 02.04.2019 10:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobbDato](
	[SerID] [int] IDENTITY(1,1) NOT NULL,
	[JobbID] [int] NOT NULL,
	[StartetDato] [datetime] NULL,
	[CompletedDato] [datetime] NULL,
	[NesteDato] [datetime] NULL,
	[NesteGange] [int] NULL,
	[KontrollOK] [bit] NULL,
	[Measurement] [nvarchar](max) NULL,
	[KontrollResultat] [nvarchar](max) NULL,
	[KontrollSign] [nvarchar](255) NULL,
	[ArbeidBeskrivelse] [nvarchar](max) NULL,
	[ArbeidSign] [nvarchar](255) NULL,
	[ArbeidOK] [bit] NULL,
	[Bilder] [varchar](8000) NULL,
	[Rapporter] [varchar](8000) NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_JobbDato] PRIMARY KEY CLUSTERED 
(
	[SerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobbDok]    Script Date: 02.04.2019 10:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobbDok](
	[SerID] [int] IDENTITY(1,1) NOT NULL,
	[JobbID] [int] NULL,
	[DokID] [int] NULL,
	[DokRef] [nvarchar](255) NULL,
	[DokImg] [varchar](8000) NULL,
 CONSTRAINT [PK_JobbDok] PRIMARY KEY CLUSTERED 
(
	[SerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobbNorm]    Script Date: 02.04.2019 10:45:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobbNorm](
	[SerID] [int] IDENTITY(1,1) NOT NULL,
	[JobbID] [int] NULL,
	[NormID] [int] NULL,
 CONSTRAINT [PK_JobbNorm] PRIMARY KEY CLUSTERED 
(
	[SerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kontakter]    Script Date: 02.04.2019 10:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kontakter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Firma] [nvarchar](255) NULL,
	[Navn] [nvarchar](255) NULL,
	[Adr] [nvarchar](255) NULL,
	[Poststed] [nvarchar](255) NULL,
	[Land] [nvarchar](25) NULL,
	[Telf] [nvarchar](25) NULL,
	[Epost] [nvarchar](255) NULL,
	[Kontakttype] [nvarchar](max) NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Kontakter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Livvester]    Script Date: 02.04.2019 10:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livvester](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeVest] [nvarchar](255) NULL,
	[Plassering] [nvarchar](255) NULL,
	[FastLivAntall] [int] NULL,
	[StatusLivAntall] [int] NULL,
	[FastAnnetAntall] [int] NULL,
	[StatusAnnetAntall] [int] NULL,
	[DatoTeltSist] [datetime] NULL,
	[Signatur] [nvarchar](255) NULL,
	[Merknad] [nvarchar](255) NULL,
 CONSTRAINT [PK_Livvester] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Middel]    Script Date: 02.04.2019 10:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Middel](
	[MiddelID] [int] IDENTITY(1,1) NOT NULL,
	[MiddelNavn] [nvarchar](255) NULL,
	[MiddelTypeID] [int] NOT NULL,
	[EnhetVolum] [nvarchar](255) NULL,
	[Emballasje] [nvarchar](15) NULL,
	[PrisInn] [real] NULL,
	[StatusBeholdning] [real] NULL,
	[StatusDato] [datetime] NULL,
	[Merknader] [nvarchar](255) NULL,
	[AntMin] [real] NULL,
	[Fabrikat] [nvarchar](255) NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Middel] PRIMARY KEY CLUSTERED 
(
	[MiddelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MiddelDetalj]    Script Date: 02.04.2019 10:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiddelDetalj](
	[MidDetID] [int] IDENTITY(1,1) NOT NULL,
	[MiddelID] [int] NULL,
	[PlassID] [int] NULL,
	[Beholdning] [real] NULL,
	[AntKorrig] [real] NULL,
	[AntInn] [real] NULL,
	[AntTelt] [real] NULL,
	[Merknader] [nvarchar](255) NULL,
 CONSTRAINT [PK_MiddelDetalj] PRIMARY KEY CLUSTERED 
(
	[MidDetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MiddelKorr]    Script Date: 02.04.2019 10:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiddelKorr](
	[MiddelKorrID] [int] IDENTITY(1,1) NOT NULL,
	[MiddelID] [int] NULL,
	[AntKorrig] [real] NULL,
	[AntInn] [real] NULL,
	[AntTelt] [real] NULL,
	[AntStatusStart] [real] NULL,
	[Bruker] [nvarchar](255) NULL,
	[Merknader] [nvarchar](255) NULL,
	[KorrDato] [datetime] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_MiddelKorr] PRIMARY KEY CLUSTERED 
(
	[MiddelKorrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MiddelType]    Script Date: 02.04.2019 10:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiddelType](
	[MiddelTypeID] [int] IDENTITY(1,1) NOT NULL,
	[MiddelType] [nvarchar](1) NOT NULL,
	[MiddelBeskrivelse] [nvarchar](255) NULL,
 CONSTRAINT [PK_MiddelType] PRIMARY KEY CLUSTERED 
(
	[MiddelTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Norm]    Script Date: 02.04.2019 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Norm](
	[NormID] [int] IDENTITY(1,1) NOT NULL,
	[Gjelder] [nvarchar](255) NULL,
	[Beskrivelse] [nvarchar](max) NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Norm] PRIMARY KEY CLUSTERED 
(
	[NormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservedel]    Script Date: 02.04.2019 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservedel](
	[DelID] [int] IDENTITY(1,1) NOT NULL,
	[DelNavn] [nvarchar](255) NULL,
	[Fabrikat] [nvarchar](255) NULL,
	[DelNummer] [nvarchar](255) NULL,
	[NATOnr] [nvarchar](255) NULL,
	[Spesifikasjon] [nvarchar](255) NULL,
	[EnhetVolum] [real] NULL,
	[Emballasje] [nvarchar](15) NULL,
	[EmbMerking] [nvarchar](255) NULL,
	[PrisInn] [real] NULL,
	[StatusDato] [datetime] NULL,
	[StatusBeholdning] [int] NULL,
	[AntMin] [int] NULL,
	[Merknad] [nvarchar](max) NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Reservedel] PRIMARY KEY CLUSTERED 
(
	[DelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservedelPlass]    Script Date: 02.04.2019 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservedelPlass](
	[DelPlassID] [int] IDENTITY(1,1) NOT NULL,
	[DelID] [int] NULL,
	[PlassID] [int] NULL,
	[Beholdning] [int] NULL,
	[AntKorrig] [int] NULL,
	[AntInn] [int] NULL,
	[AntTelt] [int] NULL,
	[Merknader] [nvarchar](255) NULL,
 CONSTRAINT [PK_ReservedelPlass] PRIMARY KEY CLUSTERED 
(
	[DelPlassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sertifikat]    Script Date: 02.04.2019 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sertifikat](
	[SertID] [int] IDENTITY(1,1) NOT NULL,
	[UtstyrID] [int] NULL,
	[SertNavn] [nvarchar](255) NULL,
	[SertNummer] [nvarchar](255) NULL,
	[SertDato] [datetime] NULL,
	[SertUtsteder] [nvarchar](255) NULL,
	[Intervall] [int] NULL,
	[FornyDato] [datetime] NULL,
	[Gjelder] [nvarchar](255) NULL,
	[Merknad] [nvarchar](max) NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Sertifikat] PRIMARY KEY CLUSTERED 
(
	[SertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utstyr]    Script Date: 02.04.2019 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utstyr](
	[UtstyrID] [int] IDENTITY(1,1) NOT NULL,
	[Utstyr] [nvarchar](200) NULL,
	[Fabrikat] [nvarchar](255) NULL,
	[Modell] [nvarchar](max) NULL,
	[StrID] [int] NULL,
	[Kapasitet] [nvarchar](255) NULL,
	[Serienr] [nvarchar](max) NULL,
	[NATOnr] [nvarchar](255) NULL,
	[DetaljID] [int] NULL,
	[KravSertifikat] [bit] NULL,
	[Reserve] [bit] NULL,
	[GangetidBasis] [bit] NULL,
	[GangetidStatus] [int] NULL,
	[ByggeYear] [nvarchar](255) NULL,
	[AntJobber] [int] NULL,
	[AntJobberUtf] [int] NULL,
	[Merknad] [nvarchar](max) NULL,
	[PlassID] [int] NULL,
	[Antall] [int] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Utstyr] PRIMARY KEY CLUSTERED 
(
	[UtstyrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UtstyrDok]    Script Date: 02.04.2019 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtstyrDok](
	[SerID] [int] IDENTITY(1,1) NOT NULL,
	[UtstyrID] [int] NULL,
	[DokID] [int] NULL,
 CONSTRAINT [PK_UtstyrDok] PRIMARY KEY CLUSTERED 
(
	[SerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UtstyrGangetid]    Script Date: 02.04.2019 10:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtstyrGangetid](
	[UGID] [int] IDENTITY(1,1) NOT NULL,
	[UtstyrID] [int] NULL,
	[GangetidUke] [int] NULL,
	[GangetidTotal] [int] NULL,
	[Merknad] [nvarchar](max) NULL,
	[LoggDato] [datetime] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_UtstyrGangetid] PRIMARY KEY CLUSTERED 
(
	[UGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UtstyrPlassering]    Script Date: 02.04.2019 10:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtstyrPlassering](
	[SerID] [int] IDENTITY(1,1) NOT NULL,
	[PlassID] [int] NULL,
	[UtstyrID] [int] NULL,
 CONSTRAINT [PK_UtstyrPlassering] PRIMARY KEY CLUSTERED 
(
	[SerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UtstyrReserve]    Script Date: 02.04.2019 10:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtstyrReserve](
	[SerID] [int] IDENTITY(1,1) NOT NULL,
	[UtstyrID] [int] NULL,
	[DelID] [int] NULL,
 CONSTRAINT [PK_UtstyrReserve] PRIMARY KEY CLUSTERED 
(
	[SerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XDetalj]    Script Date: 02.04.2019 10:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XDetalj](
	[DetaljID] [int] IDENTITY(1,1) NOT NULL,
	[DetaljNavn] [nvarchar](255) NULL,
	[StillingID] [int] NULL,
 CONSTRAINT [PK_XDetalj] PRIMARY KEY CLUSTERED 
(
	[DetaljID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XEnhet]    Script Date: 02.04.2019 10:45:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEnhet](
	[Emball] [nvarchar](255) NULL,
	[EmbID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_XEnhet] PRIMARY KEY CLUSTERED 
(
	[EmbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XIntervall]    Script Date: 02.04.2019 10:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XIntervall](
	[IntTID] [int] IDENTITY(1,1) NOT NULL,
	[IntType] [nvarchar](255) NULL,
	[IntTypeBeskr] [nvarchar](255) NULL,
 CONSTRAINT [PK_XIntervall] PRIMARY KEY CLUSTERED 
(
	[IntTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XParameter]    Script Date: 02.04.2019 10:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XParameter](
	[StdID] [int] IDENTITY(1,1) NOT NULL,
	[HovedBeholdning] [nvarchar](255) NULL,
	[CCBeholdning] [nvarchar](255) NULL,
	[HovedSertifikat] [nvarchar](255) NULL,
	[CCSertifikat] [nvarchar](255) NULL,
	[HovedProcure] [nvarchar](255) NULL,
	[CCProcure] [nvarchar](255) NULL,
	[HovedNav] [nvarchar](255) NULL,
	[CCNav] [nvarchar](255) NULL,
	[FilbaneLager] [nvarchar](255) NULL,
 CONSTRAINT [PK_XParameter] PRIMARY KEY CLUSTERED 
(
	[StdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XPerson]    Script Date: 02.04.2019 10:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XPerson](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[PersonInitial] [nvarchar](3) NULL,
	[PersonNavn] [nvarchar](255) NULL,
 CONSTRAINT [PK_XPerson] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XPlassering]    Script Date: 02.04.2019 10:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XPlassering](
	[PlassID] [int] IDENTITY(1,1) NOT NULL,
	[Plassering] [nvarchar](255) NULL,
	[Reserve] [bit] NULL,
	[Middel] [bit] NULL,
	[Utstyr] [bit] NULL,
	[Jobb] [bit] NULL,
	[Dok] [bit] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_XPlassering] PRIMARY KEY CLUSTERED 
(
	[PlassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XPrioritet]    Script Date: 02.04.2019 10:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XPrioritet](
	[PriID] [int] IDENTITY(1,1) NOT NULL,
	[Prioritet] [nvarchar](255) NULL,
	[PrioritetBeskriv] [nvarchar](255) NULL,
 CONSTRAINT [PK_XPrioritet] PRIMARY KEY CLUSTERED 
(
	[PriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XStilling]    Script Date: 02.04.2019 10:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XStilling](
	[StillingID] [int] IDENTITY(1,1) NOT NULL,
	[StillingTittel] [nvarchar](255) NULL,
	[PersonNavn] [nvarchar](255) NULL,
	[Epost] [nvarchar](255) NULL,
 CONSTRAINT [PK_XStilling] PRIMARY KEY CLUSTERED 
(
	[StillingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Arbeidsdatoer] ON 

INSERT [dbo].[Arbeidsdatoer] ([ArbID], [ArbDato]) VALUES (1, CAST(N'2015-09-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Arbeidsdatoer] ([ArbID], [ArbDato]) VALUES (2, CAST(N'2015-09-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Arbeidsdatoer] ([ArbID], [ArbDato]) VALUES (3, CAST(N'2015-09-24T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Arbeidsdatoer] OFF
SET IDENTITY_INSERT [dbo].[Arbeidsliste] ON 

INSERT [dbo].[Arbeidsliste] ([ID], [JobbID], [ArbID]) VALUES (14, 204, 2)
INSERT [dbo].[Arbeidsliste] ([ID], [JobbID], [ArbID]) VALUES (15, 140, 2)
INSERT [dbo].[Arbeidsliste] ([ID], [JobbID], [ArbID]) VALUES (17, 234, 2)
SET IDENTITY_INSERT [dbo].[Arbeidsliste] OFF
SET IDENTITY_INSERT [dbo].[Brannapp] ON 

INSERT [dbo].[Brannapp] ([ID], [TypeApparat], [Size], [Skiftet], [SlukkType], [FullVekt], [CO2VektDriv], [Plassering], [SvcDato], [Intervall], [Signatur]) VALUES (1, N'Ingen', NULL, NULL, NULL, NULL, NULL, N'Forepeak', NULL, NULL, NULL)
INSERT [dbo].[Brannapp] ([ID], [TypeApparat], [Size], [Skiftet], [SlukkType], [FullVekt], [CO2VektDriv], [Plassering], [SvcDato], [Intervall], [Signatur]) VALUES (2, N'Presto Skum', N'9 liter', N'Ny 5/2014', N'27A     233B', NULL, NULL, N'”Forre” bad på stender v/luke', CAST(N'2014-05-01T00:00:00.000' AS DateTime), CAST(N'2015-05-01T00:00:00.000' AS DateTime), N'TP')
INSERT [dbo].[Brannapp] ([ID], [TypeApparat], [Size], [Skiftet], [SlukkType], [FullVekt], [CO2VektDriv], [Plassering], [SvcDato], [Intervall], [Signatur]) VALUES (3, N'Nordic CO2', N'5 kg', N'Ny 5/2014', N'89B', NULL, NULL, N'”Forre” bad på stender v/luke', CAST(N'2014-05-01T00:00:00.000' AS DateTime), CAST(N'2015-05-01T00:00:00.000' AS DateTime), N'TP')
SET IDENTITY_INSERT [dbo].[Brannapp] OFF
SET IDENTITY_INSERT [dbo].[DistanseTid] ON 

INSERT [dbo].[DistanseTid] ([SerID], [Seilas], [Dato], [Merknad], [SeiltDistanse], [TotalDistanse], [SeiltTid], [TotalTid]) VALUES (1, N'Årlig utseilt distanse 2011', CAST(N'2011-12-31T00:00:00.000' AS DateTime), NULL, 1295, 1295, 0, 0)
INSERT [dbo].[DistanseTid] ([SerID], [Seilas], [Dato], [Merknad], [SeiltDistanse], [TotalDistanse], [SeiltTid], [TotalTid]) VALUES (2, N'Årlig utseilt distanse 2012', CAST(N'2012-12-31T00:00:00.000' AS DateTime), NULL, 1307, 2602, 0, 0)
INSERT [dbo].[DistanseTid] ([SerID], [Seilas], [Dato], [Merknad], [SeiltDistanse], [TotalDistanse], [SeiltTid], [TotalTid]) VALUES (3, N'Årlig utseilt distanse 2013', CAST(N'2013-12-31T00:00:00.000' AS DateTime), NULL, 717, 3319, 0, 0)
SET IDENTITY_INSERT [dbo].[DistanseTid] OFF
SET IDENTITY_INSERT [dbo].[Dokumenter] ON 

INSERT [dbo].[Dokumenter] ([DokID], [DokFork], [DokTittel], [Utgiver], [Utgitt], [Media], [Tegning], [PlassID], [DokFil], [Antall], [HylleSkap], [Merknad], [DetaljID]) VALUES (4, N'NAVSHIPS 359-0718', N'Instruction Book Condensing Units for Ship Store Refrigeration Plan', N'BuShips, USN', N'1951', N'Papir', 0, 28, N'', 2, NULL, NULL, 5)
INSERT [dbo].[Dokumenter] ([DokID], [DokFork], [DokTittel], [Utgiver], [Utgitt], [Media], [Tegning], [PlassID], [DokFil], [Antall], [HylleSkap], [Merknad], [DetaljID]) VALUES (5, N'NAVSHIPS 365-2428', N'Technical Manual Alarm Panel B51 and B52', N'BuShips, USN', N'1956', N'Papir', 0, 28, N'', 4, NULL, NULL, 5)
INSERT [dbo].[Dokumenter] ([DokID], [DokFork], [DokTittel], [Utgiver], [Utgitt], [Media], [Tegning], [PlassID], [DokFil], [Antall], [HylleSkap], [Merknad], [DetaljID]) VALUES (6, N'NAVSHIPS 348-0849', N'Instruction Book Piping Systems', N'BuShips, USN', N'1953', N'Papir', 0, 28, N'', 1, NULL, NULL, 5)
SET IDENTITY_INSERT [dbo].[Dokumenter] OFF
SET IDENTITY_INSERT [dbo].[Jobb] ON 

GO
SET IDENTITY_INSERT [dbo].[Jobb] OFF
SET IDENTITY_INSERT [dbo].[JobbDato] ON 

INSERT [dbo].[JobbDato] ([SerID], [JobbID], [StartetDato], [CompletedDato], [NesteDato], [NesteGange], [KontrollOK], [Measurement], [KontrollResultat], [KontrollSign], [ArbeidBeskrivelse], [ArbeidSign], [ArbeidOK], [Bilder], [Rapporter]) VALUES (1, 38, NULL, CAST(N'2015-04-24T00:00:00.000' AS DateTime), CAST(N'2016-04-23T00:00:00.000' AS DateTime), NULL, 0, NULL, NULL, NULL, N'Utført og sertifisert', NULL, 0, N'', N'')
INSERT [dbo].[JobbDato] ([SerID], [JobbID], [StartetDato], [CompletedDato], [NesteDato], [NesteGange], [KontrollOK], [Measurement], [KontrollResultat], [KontrollSign], [ArbeidBeskrivelse], [ArbeidSign], [ArbeidOK], [Bilder], [Rapporter]) VALUES (2, 154, NULL, CAST(N'2014-12-18T00:00:00.000' AS DateTime), NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, 0, N'', N'')
INSERT [dbo].[JobbDato] ([SerID], [JobbID], [StartetDato], [CompletedDato], [NesteDato], [NesteGange], [KontrollOK], [Measurement], [KontrollResultat], [KontrollSign], [ArbeidBeskrivelse], [ArbeidSign], [ArbeidOK], [Bilder], [Rapporter]) VALUES (7, 74, NULL, NULL, CAST(N'2000-12-31T00:00:00.000' AS DateTime), NULL, 0, NULL, NULL, NULL, NULL, NULL, 0, N'', N'')
GO
SET IDENTITY_INSERT [dbo].[JobbDato] OFF
SET IDENTITY_INSERT [dbo].[JobbNorm] ON 

INSERT [dbo].[JobbNorm] ([SerID], [JobbID], [NormID]) VALUES (2, 26, 3)
INSERT [dbo].[JobbNorm] ([SerID], [JobbID], [NormID]) VALUES (3, 62, 3)
INSERT [dbo].[JobbNorm] ([SerID], [JobbID], [NormID]) VALUES (4, 62, 10)
SET IDENTITY_INSERT [dbo].[JobbNorm] OFF
SET IDENTITY_INSERT [dbo].[Kontakter] ON 

INSERT [dbo].[Kontakter] ([ID], [Firma], [Navn], [Adr], [Poststed], [Land], [Telf], [Epost], [Kontakttype]) VALUES (145, N'Oslo VTS', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Kontakter] ([ID], [Firma], [Navn], [Adr], [Poststed], [Land], [Telf], [Epost], [Kontakttype]) VALUES (150, N'Forsvarets ADL kontor', NULL, N'Oslo/Mil Akershus', N'0015 Oslo', NULL, NULL, NULL, NULL)
INSERT [dbo].[Kontakter] ([ID], [Firma], [Navn], [Adr], [Poststed], [Land], [Telf], [Epost], [Kontakttype]) VALUES (334, N'HM Kong Harald 5', NULL, N'Det kongelige slott', N'0010 OSLO', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Kontakter] OFF
SET IDENTITY_INSERT [dbo].[Livvester] ON 

INSERT [dbo].[Livvester] ([ID], [TypeVest], [Plassering], [FastLivAntall], [StatusLivAntall], [FastAnnetAntall], [StatusAnnetAntall], [DatoTeltSist], [Signatur], [Merknad]) VALUES (1, N'Redningsvester', N'Akterdekk, STB kasse', 12, 12, 0, 0, CAST(N'2016-04-10T00:00:00.000' AS DateTime), NULL, N'Uten fløyte')
INSERT [dbo].[Livvester] ([ID], [TypeVest], [Plassering], [FastLivAntall], [StatusLivAntall], [FastAnnetAntall], [StatusAnnetAntall], [DatoTeltSist], [Signatur], [Merknad]) VALUES (2, N'Redningsvester', N'Akterdekk, BB kasse', 12, 12, 0, 0, CAST(N'2016-04-10T00:00:00.000' AS DateTime), NULL, N'Uten fløyte')
INSERT [dbo].[Livvester] ([ID], [TypeVest], [Plassering], [FastLivAntall], [StatusLivAntall], [FastAnnetAntall], [StatusAnnetAntall], [DatoTeltSist], [Signatur], [Merknad]) VALUES (3, N'Redningsvester', N'Båtdekk, STB skap', 16, 16, 0, 0, CAST(N'2016-04-10T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Livvester] OFF
SET IDENTITY_INSERT [dbo].[Middel] ON 

INSERT [dbo].[Middel] ([MiddelID], [MiddelNavn], [MiddelTypeID], [EnhetVolum], [Emballasje], [PrisInn], [StatusBeholdning], [StatusDato], [Merknader], [AntMin], [Fabrikat]) VALUES (1, N'Karabinkroker', 1, N'1', N'Stk', NULL, 15, CAST(N'2015-08-16T00:00:00.000' AS DateTime), NULL, 0, NULL)
INSERT [dbo].[Middel] ([MiddelID], [MiddelNavn], [MiddelTypeID], [EnhetVolum], [Emballasje], [PrisInn], [StatusBeholdning], [StatusDato], [Merknader], [AntMin], [Fabrikat]) VALUES (2, N'Jotamastic RAL Komponent A', 2, N'5l', N'Boks/Spann', 0, 1, CAST(N'2015-08-17T00:00:00.000' AS DateTime), N'7040 Windows Grey', 0, N'Jotun')
INSERT [dbo].[Middel] ([MiddelID], [MiddelNavn], [MiddelTypeID], [EnhetVolum], [Emballasje], [PrisInn], [StatusBeholdning], [StatusDato], [Merknader], [AntMin], [Fabrikat]) VALUES (3, N'Strekkfisker, rigg', 5, N'1', N'Stk', NULL, 8, CAST(N'2015-08-16T00:00:00.000' AS DateTime), NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Middel] OFF
SET IDENTITY_INSERT [dbo].[MiddelDetalj] ON 

INSERT [dbo].[MiddelDetalj] ([MidDetID], [MiddelID], [PlassID], [Beholdning], [AntKorrig], [AntInn], [AntTelt], [Merknader]) VALUES (1, 13, 30, 1, 0, 0, 0, NULL)
INSERT [dbo].[MiddelDetalj] ([MidDetID], [MiddelID], [PlassID], [Beholdning], [AntKorrig], [AntInn], [AntTelt], [Merknader]) VALUES (2, 8, 30, 1, 0, 0, 0, NULL)
INSERT [dbo].[MiddelDetalj] ([MidDetID], [MiddelID], [PlassID], [Beholdning], [AntKorrig], [AntInn], [AntTelt], [Merknader]) VALUES (3, 5, 30, 5, 0, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[MiddelDetalj] OFF
SET IDENTITY_INSERT [dbo].[MiddelType] ON 

INSERT [dbo].[MiddelType] ([MiddelTypeID], [MiddelType], [MiddelBeskrivelse]) VALUES (1, N'D', N'Dekksutstyr')
INSERT [dbo].[MiddelType] ([MiddelTypeID], [MiddelType], [MiddelBeskrivelse]) VALUES (2, N'M', N'Maling, malemidler')
INSERT [dbo].[MiddelType] ([MiddelTypeID], [MiddelType], [MiddelBeskrivelse]) VALUES (3, N'O', N'Oljer og smøremidler')
SET IDENTITY_INSERT [dbo].[MiddelType] OFF
SET IDENTITY_INSERT [dbo].[Norm] ON 

INSERT [dbo].[Norm] ([NormID], [Gjelder], [Beskrivelse]) VALUES (1, N'Vannfylling', N'Slangen gjennomspyles i ca 15 min. før tilkoblong til skipets nett så vi ikk får påbud om
kloring')
INSERT [dbo].[Norm] ([NormID], [Gjelder], [Beskrivelse]) VALUES (2, N'Vannfylling', N'Påse at Hydrophor anlegget IKKE står under trykk ved kontinuerlig fylling')
INSERT [dbo].[Norm] ([NormID], [Gjelder], [Beskrivelse]) VALUES (3, N'Spyling', N'Spyle med max 10 bar mot polyester/epoxy og 5 bar mot tre')
SET IDENTITY_INSERT [dbo].[Norm] OFF
SET IDENTITY_INSERT [dbo].[Reservedel] ON 

INSERT [dbo].[Reservedel] ([DelID], [DelNavn], [Fabrikat], [DelNummer], [NATOnr], [Spesifikasjon], [EnhetVolum], [Emballasje], [EmbMerking], [PrisInn], [StatusDato], [StatusBeholdning], [AntMin], [Merknad]) VALUES (1, N'Signalflagg og standere', NULL, NULL, NULL, NULL, NULL, N'Kartong/Kasse', NULL, NULL, CAST(N'2016-02-16T00:00:00.000' AS DateTime), 2, 0, NULL)
INSERT [dbo].[Reservedel] ([DelID], [DelNavn], [Fabrikat], [DelNummer], [NATOnr], [Spesifikasjon], [EnhetVolum], [Emballasje], [EmbMerking], [PrisInn], [StatusDato], [StatusBeholdning], [AntMin], [Merknad]) VALUES (2, N'Trosser', NULL, NULL, NULL, NULL, NULL, N'Stk', NULL, NULL, CAST(N'2015-09-18T00:00:00.000' AS DateTime), 7, 1, NULL)
INSERT [dbo].[Reservedel] ([DelID], [DelNavn], [Fabrikat], [DelNummer], [NATOnr], [Spesifikasjon], [EnhetVolum], [Emballasje], [EmbMerking], [PrisInn], [StatusDato], [StatusBeholdning], [AntMin], [Merknad]) VALUES (3, N'Signalflagg (div)', NULL, NULL, NULL, NULL, NULL, N'Kartong/Kasse', NULL, NULL, CAST(N'2010-06-22T00:00:00.000' AS DateTime), 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Reservedel] OFF
SET IDENTITY_INSERT [dbo].[ReservedelPlass] ON 

INSERT [dbo].[ReservedelPlass] ([DelPlassID], [DelID], [PlassID], [Beholdning], [AntKorrig], [AntInn], [AntTelt], [Merknader]) VALUES (9, 7, 30, 1, 0, 0, 0, NULL)
INSERT [dbo].[ReservedelPlass] ([DelPlassID], [DelID], [PlassID], [Beholdning], [AntKorrig], [AntInn], [AntTelt], [Merknader]) VALUES (11, 12, 24, 11, 0, 0, 0, NULL)
INSERT [dbo].[ReservedelPlass] ([DelPlassID], [DelID], [PlassID], [Beholdning], [AntKorrig], [AntInn], [AntTelt], [Merknader]) VALUES (12, 13, 24, 1, 0, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[ReservedelPlass] OFF
SET IDENTITY_INSERT [dbo].[Sertifikat] ON 

INSERT [dbo].[Sertifikat] ([SertID], [UtstyrID], [SertNavn], [SertNummer], [SertDato], [SertUtsteder], [Intervall], [FornyDato], [Gjelder], [Merknad]) VALUES (1, 2061, N'Certificate of Re-inspection', N'0160048', CAST(N'2016-04-28T00:00:00.000' AS DateTime), N'VIKING LIFE-SAVING EQUIPMENT Norway AS, Oluf Onsumsvei 11, 0680 OSLO', 1, CAST(N'2017-04-28T00:00:00.000' AS DateTime), N'Flåte, akterdekk, snr 10160048', N'Laget 10-1993')
INSERT [dbo].[Sertifikat] ([SertID], [UtstyrID], [SertNavn], [SertNummer], [SertDato], [SertUtsteder], [Intervall], [FornyDato], [Gjelder], [Merknad]) VALUES (2, 2064, N'EPIRB sertifikat', NULL, CAST(N'2012-01-31T00:00:00.000' AS DateTime), NULL, 5, CAST(N'2017-01-29T00:00:00.000' AS DateTime), N'EPIRB sender TRON 60S', NULL)
INSERT [dbo].[Sertifikat] ([SertID], [UtstyrID], [SertNavn], [SertNummer], [SertDato], [SertUtsteder], [Intervall], [FornyDato], [Gjelder], [Merknad]) VALUES (3, 2062, N'Lys Redningsbøye', NULL, CAST(N'2015-04-01T00:00:00.000' AS DateTime), NULL, 5, CAST(N'2020-03-30T00:00:00.000' AS DateTime), N'Diamant L', NULL)
SET IDENTITY_INSERT [dbo].[Sertifikat] OFF
SET IDENTITY_INSERT [dbo].[Struktur] ON 

INSERT [dbo].[Struktur] ([StrID], [StrNr], [Trinn], [StrElement], [StrKomponenter], [ParentID], [AntUtstyr], [Merknad], [Benyttes], [Lavest], [StrNrTidl]) VALUES (1274, N'1', 1, N'Skroget', N'Kledning og spant , Tanker , Dekk , Plattformer , Dekkshus , Spesielle strukturer , Master , Fundamenter , Skutebunn, utvendig', 2026, 0, NULL, 1, 0, NULL)
INSERT [dbo].[Struktur] ([StrID], [StrNr], [Trinn], [StrElement], [StrKomponenter], [ParentID], [AntUtstyr], [Merknad], [Benyttes], [Lavest], [StrNrTidl]) VALUES (1275, N'2', 1, N'Fremdriftssystemer', N'Hovedmotorer , Transmisjons og fremdriftslinje , Støttesystemer, fremdriftslinje , Spesielt utstyr for fremdriftslinjen', 2026, 0, NULL, 1, 0, NULL)
INSERT [dbo].[Struktur] ([StrID], [StrNr], [Trinn], [StrElement], [StrKomponenter], [ParentID], [AntUtstyr], [Merknad], [Benyttes], [Lavest], [StrNrTidl]) VALUES (1276, N'3', 1, N'Elektrisk anlegg', N'Kraftgenerering , Kraftdistribusjonssystemer , Belysningssystem , Støttesystemer, kraftgenerering , Spesialsystem for elektro , Elektrisitet, støttesystemer', 2026, 0, NULL, 1, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Struktur] OFF
SET IDENTITY_INSERT [dbo].[Utstyr] ON 

INSERT [dbo].[Utstyr] ([UtstyrID], [Utstyr], [Fabrikat], [Modell], [StrID], [Kapasitet], [Serienr], [NATOnr], [DetaljID], [KravSertifikat], [Reserve], [GangetidBasis], [GangetidStatus], [ByggeYear], [AntJobber], [AntJobberUtf], [Merknad], [PlassID], [Antall]) VALUES (1294, N'Ikke definert', NULL, NULL, 1294, NULL, NULL, NULL, 2, 0, 0, 0, NULL, NULL, 0, 0, NULL, NULL, NULL)
INSERT [dbo].[Utstyr] ([UtstyrID], [Utstyr], [Fabrikat], [Modell], [StrID], [Kapasitet], [Serienr], [NATOnr], [DetaljID], [KravSertifikat], [Reserve], [GangetidBasis], [GangetidStatus], [ByggeYear], [AntJobber], [AntJobberUtf], [Merknad], [PlassID], [Antall]) VALUES (1314, N'Anode, baugplate STB', NULL, N'Bera 35', 1595, NULL, NULL, NULL, 2, 0, 1, 0, NULL, NULL, 1, 0, NULL, 12, NULL)
INSERT [dbo].[Utstyr] ([UtstyrID], [Utstyr], [Fabrikat], [Modell], [StrID], [Kapasitet], [Serienr], [NATOnr], [DetaljID], [KravSertifikat], [Reserve], [GangetidBasis], [GangetidStatus], [ByggeYear], [AntJobber], [AntJobberUtf], [Merknad], [PlassID], [Antall]) VALUES (1363, N'Overflater, skipsside o/vannlinje', NULL, NULL, 1363, NULL, NULL, NULL, 2, 0, 0, 0, NULL, NULL, 4, 1, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Utstyr] OFF
SET IDENTITY_INSERT [dbo].[UtstyrDok] ON 

INSERT [dbo].[UtstyrDok] ([SerID], [UtstyrID], [DokID]) VALUES (2, 1427, 7)
INSERT [dbo].[UtstyrDok] ([SerID], [UtstyrID], [DokID]) VALUES (3, 1427, 8)
INSERT [dbo].[UtstyrDok] ([SerID], [UtstyrID], [DokID]) VALUES (4, 1423, 7)
SET IDENTITY_INSERT [dbo].[UtstyrDok] OFF
SET IDENTITY_INSERT [dbo].[UtstyrGangetid] ON 

INSERT [dbo].[UtstyrGangetid] ([UGID], [UtstyrID], [GangetidUke], [GangetidTotal], [Merknad], [LoggDato]) VALUES (20, 1528, 2900, 2900, NULL, CAST(N'2019-02-20T00:00:00.000' AS DateTime))
INSERT [dbo].[UtstyrGangetid] ([UGID], [UtstyrID], [GangetidUke], [GangetidTotal], [Merknad], [LoggDato]) VALUES (21, 1487, 300, 300, NULL, CAST(N'2019-02-27T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[UtstyrGangetid] OFF
SET IDENTITY_INSERT [dbo].[UtstyrReserve] ON 

INSERT [dbo].[UtstyrReserve] ([SerID], [UtstyrID], [DelID]) VALUES (7, 1606, 7)
INSERT [dbo].[UtstyrReserve] ([SerID], [UtstyrID], [DelID]) VALUES (13, 1578, 13)
INSERT [dbo].[UtstyrReserve] ([SerID], [UtstyrID], [DelID]) VALUES (16, 1584, 9)
SET IDENTITY_INSERT [dbo].[UtstyrReserve] OFF
SET IDENTITY_INSERT [dbo].[XDetalj] ON 

INSERT [dbo].[XDetalj] ([DetaljID], [DetaljNavn], [StillingID]) VALUES (1, N'Fartøylag', 10)
INSERT [dbo].[XDetalj] ([DetaljID], [DetaljNavn], [StillingID]) VALUES (2, N'Takkel', 4)
INSERT [dbo].[XDetalj] ([DetaljID], [DetaljNavn], [StillingID]) VALUES (3, N'Elektro', 6)
SET IDENTITY_INSERT [dbo].[XDetalj] OFF
SET IDENTITY_INSERT [dbo].[XEnhet] ON 

INSERT [dbo].[XEnhet] ([Emball], [EmbID]) VALUES (N'Boks/Spann', 1)
INSERT [dbo].[XEnhet] ([Emball], [EmbID]) VALUES (N'Eske', 2)
INSERT [dbo].[XEnhet] ([Emball], [EmbID]) VALUES (N'Flaske', 3)
SET IDENTITY_INSERT [dbo].[XEnhet] OFF
SET IDENTITY_INSERT [dbo].[XIntervall] ON 

INSERT [dbo].[XIntervall] ([IntTID], [IntType], [IntTypeBeskr]) VALUES (1, N'Engangs', N'Jobb som ikke er planlagt å gjenta seg')
INSERT [dbo].[XIntervall] ([IntTID], [IntType], [IntTypeBeskr]) VALUES (2, N'Periodisk', N'Jobb som gjentas med faste kalendertidsintervaller')
INSERT [dbo].[XIntervall] ([IntTID], [IntType], [IntTypeBeskr]) VALUES (3, N'Gangetid', N'Jobb som gjentas med faste gangetidsintervaller')
SET IDENTITY_INSERT [dbo].[XIntervall] OFF
SET IDENTITY_INSERT [dbo].[XParameter] ON 

INSERT [dbo].[XParameter] ([StdID], [HovedBeholdning], [CCBeholdning], [HovedSertifikat], [CCSertifikat], [HovedProcure], [CCProcure], [HovedNav], [CCNav], [FilbaneLager]) VALUES (1, N'skipssjef@m314alta.org', N'nk@m314alta.org;maskin@m314alta.org;sersjanten@m314alta.org;intendant@m314alta.org', N'skipssjef@m314alta.org', N'nk@m314alta.org;maskin@m314alta.org', N'intendant@m314alta.org', N'skipssjef@m314alta.org', N'nav@m314alta.org', N'skipssjef@m314alta.org', N'C:\')
SET IDENTITY_INSERT [dbo].[XParameter] OFF
SET IDENTITY_INSERT [dbo].[XPerson] ON 

INSERT [dbo].[XPerson] ([PersonID], [PersonInitial], [PersonNavn]) VALUES (1, N'AAA', N'Default')
INSERT [dbo].[XPerson] ([PersonID], [PersonInitial], [PersonNavn]) VALUES (2, N'EN', N'Bjørn Vargset')
INSERT [dbo].[XPerson] ([PersonID], [PersonInitial], [PersonNavn]) VALUES (3, N'SAK', N'Svein Arild Karlsen')
SET IDENTITY_INSERT [dbo].[XPerson] OFF
SET IDENTITY_INSERT [dbo].[XPlassering] ON 

INSERT [dbo].[XPlassering] ([PlassID], [Plassering], [Reserve], [Middel], [Utstyr], [Jobb], [Dok]) VALUES (1, N'Uspesifisert', 1, 1, 1, 1, 1)
INSERT [dbo].[XPlassering] ([PlassID], [Plassering], [Reserve], [Middel], [Utstyr], [Jobb], [Dok]) VALUES (2, N'Båtdekk', 0, 0, 1, 1, 0)
INSERT [dbo].[XPlassering] ([PlassID], [Plassering], [Reserve], [Middel], [Utstyr], [Jobb], [Dok]) VALUES (3, N'Bakken', 0, 0, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[XPlassering] OFF
SET IDENTITY_INSERT [dbo].[XPrioritet] ON 

INSERT [dbo].[XPrioritet] ([PriID], [Prioritet], [PrioritetBeskriv]) VALUES (1, N'HØY', N'Må utføres snarest mulig, sjødyktighetsforutsetning')
INSERT [dbo].[XPrioritet] ([PriID], [Prioritet], [PrioritetBeskriv]) VALUES (2, N'MIDDELS', N'Må utføres innen tidsfrist, fare for skade eller andre uønskete virkninger hvis utsettes')
INSERT [dbo].[XPrioritet] ([PriID], [Prioritet], [PrioritetBeskriv]) VALUES (3, N'RUTINE', N'Bør utføres ved første anledning')
SET IDENTITY_INSERT [dbo].[XPrioritet] OFF
SET IDENTITY_INSERT [dbo].[XStilling] ON 

INSERT [dbo].[XStilling] ([StillingID], [StillingTittel], [PersonNavn], [Epost]) VALUES (1, N'Skipssjef', N'Tore Pettersen', N'sjef@m314alta.org')
INSERT [dbo].[XStilling] ([StillingID], [StillingTittel], [PersonNavn], [Epost]) VALUES (2, N'Nestkomm', N'Gerhard B Ihlen', N'nk@m314alta.org')
INSERT [dbo].[XStilling] ([StillingID], [StillingTittel], [PersonNavn], [Epost]) VALUES (3, N'Nav/Radar offiser', N'Claus Hansen', N'nav@m314alta.org')
SET IDENTITY_INSERT [dbo].[XStilling] OFF
/****** Object:  Index [IX_Arbeidsliste]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Arbeidsliste] ON [dbo].[Arbeidsliste]
(
	[JobbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Arbeidsliste_1]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Arbeidsliste_1] ON [dbo].[Arbeidsliste]
(
	[ArbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Brannapp]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Brannapp] ON [dbo].[Brannapp]
(
	[SvcDato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DistanseTid]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_DistanseTid] ON [dbo].[DistanseTid]
(
	[Dato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dokumenter]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Dokumenter] ON [dbo].[Dokumenter]
(
	[DetaljID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dokumenter_1]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Dokumenter_1] ON [dbo].[Dokumenter]
(
	[PlassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobb]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Jobb] ON [dbo].[Jobb]
(
	[PriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobb_1]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Jobb_1] ON [dbo].[Jobb]
(
	[UtstyrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobb_2]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Jobb_2] ON [dbo].[Jobb]
(
	[StillingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobb_3]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Jobb_3] ON [dbo].[Jobb]
(
	[DetaljID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobb_4]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Jobb_4] ON [dbo].[Jobb]
(
	[JobbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobb_5]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Jobb_5] ON [dbo].[Jobb]
(
	[IntTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobb_6]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Jobb_6] ON [dbo].[Jobb]
(
	[Flag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobb_7]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Jobb_7] ON [dbo].[Jobb]
(
	[Frist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobb_8]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Jobb_8] ON [dbo].[Jobb]
(
	[Completed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobb_9]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Jobb_9] ON [dbo].[Jobb]
(
	[CompletedGange] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobbDato]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_JobbDato] ON [dbo].[JobbDato]
(
	[JobbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobbDok]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_JobbDok] ON [dbo].[JobbDok]
(
	[JobbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobbDok_1]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_JobbDok_1] ON [dbo].[JobbDok]
(
	[DokID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobbNorm]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_JobbNorm] ON [dbo].[JobbNorm]
(
	[JobbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobbNorm_1]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_JobbNorm_1] ON [dbo].[JobbNorm]
(
	[NormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Middel]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Middel] ON [dbo].[Middel]
(
	[MiddelTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MiddelDetalj]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_MiddelDetalj] ON [dbo].[MiddelDetalj]
(
	[PlassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MiddelDetalj_1]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_MiddelDetalj_1] ON [dbo].[MiddelDetalj]
(
	[MiddelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MiddelKorr]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_MiddelKorr] ON [dbo].[MiddelKorr]
(
	[MiddelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReservedelPlass]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_ReservedelPlass] ON [dbo].[ReservedelPlass]
(
	[DelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReservedelPlass_1]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_ReservedelPlass_1] ON [dbo].[ReservedelPlass]
(
	[PlassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sertifikat]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Sertifikat] ON [dbo].[Sertifikat]
(
	[UtstyrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sertifikat_1]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Sertifikat_1] ON [dbo].[Sertifikat]
(
	[FornyDato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Struktur]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Struktur] ON [dbo].[Struktur]
(
	[StrNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Struktur_1]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Struktur_1] ON [dbo].[Struktur]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Utstyr]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Utstyr] ON [dbo].[Utstyr]
(
	[StrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Utstyr_1]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Utstyr_1] ON [dbo].[Utstyr]
(
	[DetaljID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Utstyr_2]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_Utstyr_2] ON [dbo].[Utstyr]
(
	[PlassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UtstyrDok]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_UtstyrDok] ON [dbo].[UtstyrDok]
(
	[UtstyrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UtstyrDok_1]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_UtstyrDok_1] ON [dbo].[UtstyrDok]
(
	[DokID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UtstyrGangetid]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_UtstyrGangetid] ON [dbo].[UtstyrGangetid]
(
	[UtstyrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UtstyrPlassering]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_UtstyrPlassering] ON [dbo].[UtstyrPlassering]
(
	[UtstyrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UtstyrPlassering_1]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_UtstyrPlassering_1] ON [dbo].[UtstyrPlassering]
(
	[PlassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UtstyrReserve]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_UtstyrReserve] ON [dbo].[UtstyrReserve]
(
	[UtstyrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UtstyrReserve_1]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_UtstyrReserve_1] ON [dbo].[UtstyrReserve]
(
	[DelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_XDetalj]    Script Date: 02.04.2019 10:45:45 ******/
CREATE NONCLUSTERED INDEX [IX_XDetalj] ON [dbo].[XDetalj]
(
	[StillingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DistanseTid] ADD  CONSTRAINT [DF_DistanseTid_SeiltDistanse]  DEFAULT ((0)) FOR [SeiltDistanse]
GO
ALTER TABLE [dbo].[DistanseTid] ADD  CONSTRAINT [DF_DistanseTid_TotalDistanse]  DEFAULT ((0)) FOR [TotalDistanse]
GO
ALTER TABLE [dbo].[DistanseTid] ADD  CONSTRAINT [DF_DistanseTid_SeiltTid]  DEFAULT ((0)) FOR [SeiltTid]
GO
ALTER TABLE [dbo].[DistanseTid] ADD  CONSTRAINT [DF_DistanseTid_TotalTid]  DEFAULT ((0)) FOR [TotalTid]
GO
ALTER TABLE [dbo].[Dokumenter] ADD  CONSTRAINT [DF_Dokumenter_Tegning]  DEFAULT ((0)) FOR [Tegning]
GO
ALTER TABLE [dbo].[Dokumenter] ADD  CONSTRAINT [DF_Dokumenter_Antall]  DEFAULT ((0)) FOR [Antall]
GO
ALTER TABLE [dbo].[Jobb] ADD  CONSTRAINT [DF_Jobb_Kontroll]  DEFAULT ((0)) FOR [Kontroll]
GO
ALTER TABLE [dbo].[Jobb] ADD  CONSTRAINT [DF_Jobb_Arbeid]  DEFAULT ((1)) FOR [Arbeid]
GO
ALTER TABLE [dbo].[Jobb] ADD  CONSTRAINT [DF_Jobb_Startet]  DEFAULT ((0)) FOR [Startet]
GO
ALTER TABLE [dbo].[Jobb] ADD  CONSTRAINT [DF_Jobb_Completed]  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[Jobb] ADD  CONSTRAINT [DF_Jobb_Dokking]  DEFAULT ((0)) FOR [Dokking]
GO
ALTER TABLE [dbo].[Jobb] ADD  CONSTRAINT [DF_Jobb_Underveis]  DEFAULT ((0)) FOR [Underveis]
GO
ALTER TABLE [dbo].[Jobb] ADD  CONSTRAINT [DF_Jobb_UnderLand]  DEFAULT ((1)) FOR [UnderLand]
GO
ALTER TABLE [dbo].[Jobb] ADD  CONSTRAINT [DF_Jobb_Dugnad]  DEFAULT ((1)) FOR [Dugnad]
GO
ALTER TABLE [dbo].[Jobb] ADD  CONSTRAINT [DF_Jobb_Flag]  DEFAULT ((0)) FOR [Flag]
GO
ALTER TABLE [dbo].[JobbDato] ADD  CONSTRAINT [DF_JobbDato_NesteGange]  DEFAULT ((0)) FOR [NesteGange]
GO
ALTER TABLE [dbo].[JobbDato] ADD  CONSTRAINT [DF_JobbDato_KontrollOK]  DEFAULT ((0)) FOR [KontrollOK]
GO
ALTER TABLE [dbo].[JobbDato] ADD  CONSTRAINT [DF_JobbDato_ArbeidOK]  DEFAULT ((0)) FOR [ArbeidOK]
GO
ALTER TABLE [dbo].[Livvester] ADD  CONSTRAINT [DF_Livvester_FastLivAntall]  DEFAULT ((0)) FOR [FastLivAntall]
GO
ALTER TABLE [dbo].[Livvester] ADD  CONSTRAINT [DF_Livvester_StatusLivAntall]  DEFAULT ((0)) FOR [StatusLivAntall]
GO
ALTER TABLE [dbo].[Livvester] ADD  CONSTRAINT [DF_Livvester_FastAnnetAntall]  DEFAULT ((0)) FOR [FastAnnetAntall]
GO
ALTER TABLE [dbo].[Livvester] ADD  CONSTRAINT [DF_Livvester_StatusAnnetAntall]  DEFAULT ((0)) FOR [StatusAnnetAntall]
GO
ALTER TABLE [dbo].[Middel] ADD  CONSTRAINT [DF_Middel_PrisInn]  DEFAULT ((0)) FOR [PrisInn]
GO
ALTER TABLE [dbo].[Middel] ADD  CONSTRAINT [DF_Middel_StatusBeholdning]  DEFAULT ((0)) FOR [StatusBeholdning]
GO
ALTER TABLE [dbo].[Middel] ADD  CONSTRAINT [DF_Middel_AntMin]  DEFAULT ((0)) FOR [AntMin]
GO
ALTER TABLE [dbo].[MiddelDetalj] ADD  CONSTRAINT [DF_MiddelDetalj_Beholdning]  DEFAULT ((0)) FOR [Beholdning]
GO
ALTER TABLE [dbo].[MiddelDetalj] ADD  CONSTRAINT [DF_MiddelDetalj_AntKorrig]  DEFAULT ((0)) FOR [AntKorrig]
GO
ALTER TABLE [dbo].[MiddelDetalj] ADD  CONSTRAINT [DF_MiddelDetalj_AntInn]  DEFAULT ((0)) FOR [AntInn]
GO
ALTER TABLE [dbo].[MiddelDetalj] ADD  CONSTRAINT [DF_MiddelDetalj_AntTelt]  DEFAULT ((0)) FOR [AntTelt]
GO
ALTER TABLE [dbo].[MiddelKorr] ADD  CONSTRAINT [DF_MiddelKorr_AntKorrig]  DEFAULT ((0)) FOR [AntKorrig]
GO
ALTER TABLE [dbo].[MiddelKorr] ADD  CONSTRAINT [DF_MiddelKorr_AntInn]  DEFAULT ((0)) FOR [AntInn]
GO
ALTER TABLE [dbo].[MiddelKorr] ADD  CONSTRAINT [DF_MiddelKorr_AntTelt]  DEFAULT ((0)) FOR [AntTelt]
GO
ALTER TABLE [dbo].[MiddelKorr] ADD  CONSTRAINT [DF_MiddelKorr_AntStatusStart]  DEFAULT ((0)) FOR [AntStatusStart]
GO
ALTER TABLE [dbo].[Reservedel] ADD  CONSTRAINT [DF_Reservedel_StatusBeholdning]  DEFAULT ((0)) FOR [StatusBeholdning]
GO
ALTER TABLE [dbo].[Reservedel] ADD  CONSTRAINT [DF_Reservedel_AntMin]  DEFAULT ((0)) FOR [AntMin]
GO
ALTER TABLE [dbo].[ReservedelPlass] ADD  CONSTRAINT [DF_ReservedelPlass_Beholdning]  DEFAULT ((0)) FOR [Beholdning]
GO
ALTER TABLE [dbo].[ReservedelPlass] ADD  CONSTRAINT [DF_ReservedelPlass_AntKorrig]  DEFAULT ((0)) FOR [AntKorrig]
GO
ALTER TABLE [dbo].[ReservedelPlass] ADD  CONSTRAINT [DF_ReservedelPlass_AntInn]  DEFAULT ((0)) FOR [AntInn]
GO
ALTER TABLE [dbo].[ReservedelPlass] ADD  CONSTRAINT [DF_ReservedelPlass_AntTelt]  DEFAULT ((0)) FOR [AntTelt]
GO
ALTER TABLE [dbo].[Sertifikat] ADD  CONSTRAINT [DF_Sertifikat_UtstyrID]  DEFAULT ((0)) FOR [UtstyrID]
GO
ALTER TABLE [dbo].[Sertifikat] ADD  CONSTRAINT [DF_Sertifikat_Intervall]  DEFAULT ((0)) FOR [Intervall]
GO
ALTER TABLE [dbo].[Struktur] ADD  CONSTRAINT [DF_Struktur_Trinn]  DEFAULT ((1)) FOR [Trinn]
GO
ALTER TABLE [dbo].[Struktur] ADD  CONSTRAINT [DF_Struktur_Parent]  DEFAULT ((0)) FOR [ParentID]
GO
ALTER TABLE [dbo].[Struktur] ADD  CONSTRAINT [DF_Struktur_AntUtstyr]  DEFAULT ((0)) FOR [AntUtstyr]
GO
ALTER TABLE [dbo].[Struktur] ADD  CONSTRAINT [DF_Struktur_Benyttes]  DEFAULT ((1)) FOR [Benyttes]
GO
ALTER TABLE [dbo].[Struktur] ADD  CONSTRAINT [DF_Struktur_Lavest]  DEFAULT ((1)) FOR [Lavest]
GO
ALTER TABLE [dbo].[Utstyr] ADD  CONSTRAINT [DF_Utstyr_StrID]  DEFAULT ((0)) FOR [StrID]
GO
ALTER TABLE [dbo].[Utstyr] ADD  CONSTRAINT [DF_Utstyr_DetaljID]  DEFAULT ((0)) FOR [DetaljID]
GO
ALTER TABLE [dbo].[Utstyr] ADD  CONSTRAINT [DF_Utstyr_KravSertifikat]  DEFAULT ((0)) FOR [KravSertifikat]
GO
ALTER TABLE [dbo].[Utstyr] ADD  CONSTRAINT [DF_Utstyr_Reserve]  DEFAULT ((0)) FOR [Reserve]
GO
ALTER TABLE [dbo].[Utstyr] ADD  CONSTRAINT [DF_Utstyr_GangetidBasis]  DEFAULT ((0)) FOR [GangetidBasis]
GO
ALTER TABLE [dbo].[Utstyr] ADD  CONSTRAINT [DF_Utstyr_GangetidStatus]  DEFAULT ((0)) FOR [GangetidStatus]
GO
ALTER TABLE [dbo].[Utstyr] ADD  CONSTRAINT [DF_Utstyr_AntJobber]  DEFAULT ((0)) FOR [AntJobber]
GO
ALTER TABLE [dbo].[Utstyr] ADD  CONSTRAINT [DF_Utstyr_AntJobberUtf]  DEFAULT ((0)) FOR [AntJobberUtf]
GO
ALTER TABLE [dbo].[Utstyr] ADD  CONSTRAINT [DF_Utstyr_Antall]  DEFAULT ((0)) FOR [Antall]
GO
ALTER TABLE [dbo].[UtstyrGangetid] ADD  CONSTRAINT [DF_UtstyrGangetid_GangetidUke]  DEFAULT ((0)) FOR [GangetidUke]
GO
ALTER TABLE [dbo].[UtstyrGangetid] ADD  CONSTRAINT [DF_UtstyrGangetid_GangetidTotal]  DEFAULT ((0)) FOR [GangetidTotal]
GO
ALTER TABLE [dbo].[XPlassering] ADD  CONSTRAINT [DF_XPlassering_Reserve]  DEFAULT ((0)) FOR [Reserve]
GO
ALTER TABLE [dbo].[XPlassering] ADD  CONSTRAINT [DF_XPlassering_Middel]  DEFAULT ((0)) FOR [Middel]
GO
ALTER TABLE [dbo].[XPlassering] ADD  CONSTRAINT [DF_XPlassering_Utstyr]  DEFAULT ((0)) FOR [Utstyr]
GO
ALTER TABLE [dbo].[XPlassering] ADD  CONSTRAINT [DF_XPlassering_Jobb]  DEFAULT ((0)) FOR [Jobb]
GO
ALTER TABLE [dbo].[XPlassering] ADD  CONSTRAINT [DF_XPlassering_Dok]  DEFAULT ((0)) FOR [Dok]
GO
ALTER TABLE [dbo].[Arbeidsliste]  WITH CHECK ADD  CONSTRAINT [FK_Arbeidsliste_Arbeidsdatoer] FOREIGN KEY([ArbID])
REFERENCES [dbo].[Arbeidsdatoer] ([ArbID])
GO
ALTER TABLE [dbo].[Arbeidsliste] CHECK CONSTRAINT [FK_Arbeidsliste_Arbeidsdatoer]
GO
ALTER TABLE [dbo].[Arbeidsliste]  WITH CHECK ADD  CONSTRAINT [FK_Arbeidsliste_Jobb] FOREIGN KEY([JobbID])
REFERENCES [dbo].[Jobb] ([JobbID])
GO
ALTER TABLE [dbo].[Arbeidsliste] CHECK CONSTRAINT [FK_Arbeidsliste_Jobb]
GO
ALTER TABLE [dbo].[Dokumenter]  WITH CHECK ADD  CONSTRAINT [FK_Dokumenter_XDetalj] FOREIGN KEY([DetaljID])
REFERENCES [dbo].[XDetalj] ([DetaljID])
GO
ALTER TABLE [dbo].[Dokumenter] CHECK CONSTRAINT [FK_Dokumenter_XDetalj]
GO
ALTER TABLE [dbo].[Dokumenter]  WITH CHECK ADD  CONSTRAINT [FK_Dokumenter_XPlassering] FOREIGN KEY([PlassID])
REFERENCES [dbo].[XPlassering] ([PlassID])
GO
ALTER TABLE [dbo].[Dokumenter] CHECK CONSTRAINT [FK_Dokumenter_XPlassering]
GO
ALTER TABLE [dbo].[Jobb]  WITH CHECK ADD  CONSTRAINT [FK_Jobb_Utstyr] FOREIGN KEY([UtstyrID])
REFERENCES [dbo].[Utstyr] ([UtstyrID])
GO
ALTER TABLE [dbo].[Jobb] CHECK CONSTRAINT [FK_Jobb_Utstyr]
GO
ALTER TABLE [dbo].[Jobb]  WITH CHECK ADD  CONSTRAINT [FK_Jobb_XDetalj] FOREIGN KEY([DetaljID])
REFERENCES [dbo].[XDetalj] ([DetaljID])
GO
ALTER TABLE [dbo].[Jobb] CHECK CONSTRAINT [FK_Jobb_XDetalj]
GO
ALTER TABLE [dbo].[Jobb]  WITH CHECK ADD  CONSTRAINT [FK_Jobb_XIntervall] FOREIGN KEY([IntTID])
REFERENCES [dbo].[XIntervall] ([IntTID])
GO
ALTER TABLE [dbo].[Jobb] CHECK CONSTRAINT [FK_Jobb_XIntervall]
GO
ALTER TABLE [dbo].[Jobb]  WITH CHECK ADD  CONSTRAINT [FK_Jobb_XPrioritet] FOREIGN KEY([PriID])
REFERENCES [dbo].[XPrioritet] ([PriID])
GO
ALTER TABLE [dbo].[Jobb] CHECK CONSTRAINT [FK_Jobb_XPrioritet]
GO
ALTER TABLE [dbo].[JobbDato]  WITH CHECK ADD  CONSTRAINT [FK_JobbDato_Jobb] FOREIGN KEY([JobbID])
REFERENCES [dbo].[Jobb] ([JobbID])
GO
ALTER TABLE [dbo].[JobbDato] CHECK CONSTRAINT [FK_JobbDato_Jobb]
GO
ALTER TABLE [dbo].[JobbDok]  WITH CHECK ADD  CONSTRAINT [FK_JobbDok_Jobb] FOREIGN KEY([JobbID])
REFERENCES [dbo].[Jobb] ([JobbID])
GO
ALTER TABLE [dbo].[JobbDok] CHECK CONSTRAINT [FK_JobbDok_Jobb]
GO
ALTER TABLE [dbo].[JobbDok]  WITH CHECK ADD  CONSTRAINT [FK_JobbDok_JobbDok1] FOREIGN KEY([SerID])
REFERENCES [dbo].[JobbDok] ([SerID])
GO
ALTER TABLE [dbo].[JobbDok] CHECK CONSTRAINT [FK_JobbDok_JobbDok1]
GO
ALTER TABLE [dbo].[JobbNorm]  WITH CHECK ADD  CONSTRAINT [FK_JobbNorm_Jobb] FOREIGN KEY([JobbID])
REFERENCES [dbo].[Jobb] ([JobbID])
GO
ALTER TABLE [dbo].[JobbNorm] CHECK CONSTRAINT [FK_JobbNorm_Jobb]
GO
ALTER TABLE [dbo].[JobbNorm]  WITH CHECK ADD  CONSTRAINT [FK_JobbNorm_JobbNorm] FOREIGN KEY([SerID])
REFERENCES [dbo].[JobbNorm] ([SerID])
GO
ALTER TABLE [dbo].[JobbNorm] CHECK CONSTRAINT [FK_JobbNorm_JobbNorm]
GO
ALTER TABLE [dbo].[Middel]  WITH CHECK ADD  CONSTRAINT [FK_Middel_MiddelType] FOREIGN KEY([MiddelTypeID])
REFERENCES [dbo].[MiddelType] ([MiddelTypeID])
GO
ALTER TABLE [dbo].[Middel] CHECK CONSTRAINT [FK_Middel_MiddelType]
GO
ALTER TABLE [dbo].[MiddelDetalj]  WITH CHECK ADD  CONSTRAINT [FK_MiddelDetalj_Middel] FOREIGN KEY([MiddelID])
REFERENCES [dbo].[Middel] ([MiddelID])
GO
ALTER TABLE [dbo].[MiddelDetalj] CHECK CONSTRAINT [FK_MiddelDetalj_Middel]
GO
ALTER TABLE [dbo].[MiddelDetalj]  WITH CHECK ADD  CONSTRAINT [FK_MiddelDetalj_XPlassering] FOREIGN KEY([PlassID])
REFERENCES [dbo].[XPlassering] ([PlassID])
GO
ALTER TABLE [dbo].[MiddelDetalj] CHECK CONSTRAINT [FK_MiddelDetalj_XPlassering]
GO
ALTER TABLE [dbo].[MiddelKorr]  WITH CHECK ADD  CONSTRAINT [FK_MiddelKorr_Middel] FOREIGN KEY([MiddelID])
REFERENCES [dbo].[Middel] ([MiddelID])
GO
ALTER TABLE [dbo].[MiddelKorr] CHECK CONSTRAINT [FK_MiddelKorr_Middel]
GO
ALTER TABLE [dbo].[ReservedelPlass]  WITH CHECK ADD  CONSTRAINT [FK_ReservedelPlass_Reservedel] FOREIGN KEY([DelID])
REFERENCES [dbo].[Reservedel] ([DelID])
GO
ALTER TABLE [dbo].[ReservedelPlass] CHECK CONSTRAINT [FK_ReservedelPlass_Reservedel]
GO
ALTER TABLE [dbo].[ReservedelPlass]  WITH CHECK ADD  CONSTRAINT [FK_ReservedelPlass_XPlassering] FOREIGN KEY([PlassID])
REFERENCES [dbo].[XPlassering] ([PlassID])
GO
ALTER TABLE [dbo].[ReservedelPlass] CHECK CONSTRAINT [FK_ReservedelPlass_XPlassering]
GO
ALTER TABLE [dbo].[Sertifikat]  WITH CHECK ADD  CONSTRAINT [FK_Sertifikat_Sertifikat] FOREIGN KEY([UtstyrID])
REFERENCES [dbo].[Utstyr] ([UtstyrID])
GO
ALTER TABLE [dbo].[Sertifikat] CHECK CONSTRAINT [FK_Sertifikat_Sertifikat]
GO
ALTER TABLE [dbo].[Utstyr]  WITH CHECK ADD  CONSTRAINT [FK_Utstyr_Utstyr] FOREIGN KEY([UtstyrID])
REFERENCES [dbo].[Utstyr] ([UtstyrID])
GO
ALTER TABLE [dbo].[Utstyr] CHECK CONSTRAINT [FK_Utstyr_Utstyr]
GO
ALTER TABLE [dbo].[UtstyrGangetid]  WITH CHECK ADD  CONSTRAINT [FK_UtstyrGangetid_Utstyr] FOREIGN KEY([UtstyrID])
REFERENCES [dbo].[Utstyr] ([UtstyrID])
GO
ALTER TABLE [dbo].[UtstyrGangetid] CHECK CONSTRAINT [FK_UtstyrGangetid_Utstyr]
GO
ALTER TABLE [dbo].[UtstyrPlassering]  WITH CHECK ADD  CONSTRAINT [FK_UtstyrPlassering_Utstyr] FOREIGN KEY([UtstyrID])
REFERENCES [dbo].[Utstyr] ([UtstyrID])
GO
ALTER TABLE [dbo].[UtstyrPlassering] CHECK CONSTRAINT [FK_UtstyrPlassering_Utstyr]
GO
ALTER TABLE [dbo].[UtstyrPlassering]  WITH CHECK ADD  CONSTRAINT [FK_UtstyrPlassering_XPlassering] FOREIGN KEY([PlassID])
REFERENCES [dbo].[XPlassering] ([PlassID])
GO
ALTER TABLE [dbo].[UtstyrPlassering] CHECK CONSTRAINT [FK_UtstyrPlassering_XPlassering]
GO
ALTER TABLE [dbo].[UtstyrReserve]  WITH CHECK ADD  CONSTRAINT [FK_UtstyrReserve_Reservedel] FOREIGN KEY([DelID])
REFERENCES [dbo].[Reservedel] ([DelID])
GO
ALTER TABLE [dbo].[UtstyrReserve] CHECK CONSTRAINT [FK_UtstyrReserve_Reservedel]
GO
ALTER TABLE [dbo].[UtstyrReserve]  WITH CHECK ADD  CONSTRAINT [FK_UtstyrReserve_Utstyr] FOREIGN KEY([UtstyrID])
REFERENCES [dbo].[Utstyr] ([UtstyrID])
GO
ALTER TABLE [dbo].[UtstyrReserve] CHECK CONSTRAINT [FK_UtstyrReserve_Utstyr]
GO
ALTER TABLE [dbo].[XDetalj]  WITH CHECK ADD  CONSTRAINT [FK_XDetalj_XStilling] FOREIGN KEY([StillingID])
REFERENCES [dbo].[XStilling] ([StillingID])
GO
ALTER TABLE [dbo].[XDetalj] CHECK CONSTRAINT [FK_XDetalj_XStilling]
GO
/****** Object:  StoredProcedure [dbo].[usp_StrukturTrinn1]    Script Date: 02.04.2019 10:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Gerhard
-- Create date: 22.07.2018
-- Description:	Deltagerliste for spesifikk ArrID
-- =============================================
CREATE PROCEDURE [dbo].[usp_StrukturTrinn1] 
	-- Add the parameters for the stored procedure here
	--@ArrID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Struktur.StrID,
			Struktur.StrNr, 
			Struktur.Trinn, 
			Left([StrNr],[Trinn]-1) AS Nummer, 
			Struktur.StrElement, 
			Struktur.StrKomponenter, 
			Struktur.Benyttes, 
			Struktur.Merknad, 
			Struktur.AntUtstyr, 
			Struktur.StrNrTidl
		FROM Struktur
		WHERE Struktur.Trinn=1 AND Struktur.Benyttes=1
		ORDER BY Struktur.StrNr;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_StrukturTrinn2]    Script Date: 02.04.2019 10:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_StrukturTrinn2] 
	-- Add the parameters for the stored procedure here
	--@ArrID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Struktur.StrID,
			Struktur.StrNr, 
			Struktur.Trinn, 
			Left([StrNr],[Trinn]-1) AS Nummer, 
			Struktur.StrElement, 
			Struktur.StrKomponenter, 
			Struktur.Benyttes, 
			Struktur.Merknad, 
			Struktur.AntUtstyr, 
			Struktur.StrNrTidl
		FROM Struktur
		WHERE Struktur.Trinn=2 AND Struktur.Benyttes=1
		ORDER BY Struktur.StrNr;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_StrukturTrinn3]    Script Date: 02.04.2019 10:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_StrukturTrinn3] 
	-- Add the parameters for the stored procedure here
	--@ArrID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Struktur.StrID,
			Struktur.StrNr, 
			Struktur.Trinn, 
			Left([StrNr],[Trinn]-1) AS Nummer, 
			Struktur.StrElement, 
			Struktur.StrKomponenter, 
			Struktur.Benyttes, 
			Struktur.Merknad, 
			Struktur.AntUtstyr, 
			Struktur.StrNrTidl
		FROM Struktur
		WHERE Struktur.Trinn=3 AND Struktur.Benyttes=1
		ORDER BY Struktur.StrNr;
		
END
GO
/****** Object:  StoredProcedure [dbo].[usp_StrukturTrinn4]    Script Date: 02.04.2019 10:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_StrukturTrinn4] 
	-- Add the parameters for the stored procedure here
	--@ArrID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Struktur.StrID,
			Struktur.StrNr, 
			Struktur.Trinn, 
			Left([StrNr],[Trinn]-1) AS Nummer, 
			Struktur.StrElement, 
			Struktur.StrKomponenter, 
			Struktur.Benyttes, 
			Struktur.Merknad, 
			Struktur.AntUtstyr, 
			Struktur.StrNrTidl
		FROM Struktur
		WHERE Struktur.Trinn=4 AND Struktur.Benyttes=1
		ORDER BY Struktur.StrNr;
		
END
GO
/****** Object:  StoredProcedure [dbo].[usp_StrukturTrinn5]    Script Date: 02.04.2019 10:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_StrukturTrinn5] 
	-- Add the parameters for the stored procedure here
	--@ArrID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Struktur.StrID,
			Struktur.StrNr, 
			Struktur.Trinn, 
			Left([StrNr],[Trinn]-1) AS Nummer, 
			Struktur.StrElement, 
			Struktur.StrKomponenter, 
			Struktur.Benyttes, 
			Struktur.Merknad, 
			Struktur.AntUtstyr, 
			Struktur.StrNrTidl
		FROM Struktur
		WHERE Struktur.Trinn=5 AND Struktur.Benyttes=1
		ORDER BY Struktur.StrNr;
		
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Struktur"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 8
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwStrukturTre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwStrukturTre'
GO
