/****** Object:  Table [dbo].[Arrangementer]    Script Date: 08.10.2019 16:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arrangementer](
	[ArrID] [int] IDENTITY(1,1) NOT NULL,
	[ArrNavn] [nvarchar](255) NULL,
	[Sted] [nvarchar](100) NULL,
	[Dato] [date] NULL,
	[Klokken] [nvarchar](5) NULL,
	[DatoSlutt] [date] NULL,
	[KlokkenSlutt] [nvarchar](5) NULL,
	[Varighet] [real] NULL,
	[Seilas] [bit] NOT NULL,
	[Selskap] [bit] NOT NULL,
	[OpenShip] [bit] NOT NULL,
	[Dugnad] [bit] NOT NULL,
	[Kontingent] [real] NULL,
	[Kostdag] [smallint] NULL,
	[Overnatt] [bit] NOT NULL,
	[Parkering] [bit] NOT NULL,
	[SeskontAvheng] [bit] NOT NULL,
	[TurReturID] [int] NULL,
	[VaktlengdeSeilas] [real] NULL,
	[VaktlengdeLand] [real] NULL,
	[InvitererSign] [nvarchar](max) NULL,
	[DeltagKvitt] [nvarchar](max) NULL,
	[AvmeldKvitt] [nvarchar](max) NULL,
	[ReiseInfo] [nvarchar](max) NULL,
	[ParkeringInfo] [nvarchar](max) NULL,
	[PSInfo] [nvarchar](max) NULL,
	[MerknadRulle] [nvarchar](max) NULL,
	[MerknadVaktlisteSeil] [nvarchar](max) NULL,
	[Avlyst] [bit] NOT NULL,
	[Sikkerhetskurs] [bit] NOT NULL,
	[VentelisteArr] [bit] NOT NULL,
	[SesID] [int] NULL,
	[Gangetid] [real] NULL,
	[Distanse] [real] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Arrangementer] PRIMARY KEY CLUSTERED 
(
	[ArrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kunde]    Script Date: 08.10.2019 16:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kunde](
	[KundeID] [int] IDENTITY(1,1) NOT NULL,
	[KundeNavn] [nvarchar](255) NOT NULL,
	[KundeKontakt] [nvarchar](255) NULL,
	[KundeEpost] [nvarchar](255) NULL,
	[FaktAdrGatePB] [nvarchar](255) NULL,
	[FaktAdrSted] [nvarchar](255) NULL,
	[Kommentarer] [nvarchar](max) NULL,
	[AltaInternt] [bit] NOT NULL,
	[Sponsor] [bit] NOT NULL,
	[Firma] [bit] NOT NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Kunde] PRIMARY KEY CLUSTERED 
(
	[KundeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Selskaper]    Script Date: 08.10.2019 16:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selskaper](
	[SelID] [int] IDENTITY(1,1) NOT NULL,
	[ArrID] [int] NULL,
	[KundeID] [int] NULL,
	[ArrTypeID] [int] NULL,
	[ArrStedID] [int] NULL,
	[ArrDato] [date] NULL,
	[AnkKl] [nvarchar](5) NULL,
	[SluttKl] [nvarchar](5) NULL,
	[ArrAntall] [smallint] NULL,
	[KuvertPris] [real] NULL,
	[Aperitif] [nvarchar](255) NULL,
	[Meny] [nvarchar](max) NULL,
	[MatID] [int] NULL,
	[Drikke] [nvarchar](255) NULL,
	[Kaffe] [bit] NULL,
	[KaffePris] [real] NULL,
	[AnnenServ] [nvarchar](255) NULL,
	[Orientering] [bit] NULL,
	[Bidrag] [real] NULL,
	[GjestAntall] [smallint] NULL,
	[LeieBåtdekk] [real] NULL,
	[Båtdekk] [bit] NULL,
	[LeieMesseMann] [real] NULL,
	[MannMesse] [bit] NULL,
	[LeieMesseFor] [real] NULL,
	[ForMesse] [bit] NULL,
	[LeieMesseAkt] [real] NULL,
	[AktMesse] [bit] NULL,
	[SeilasTimer] [smallint] NULL,
	[SeilasPris] [real] NULL,
	[OvernattAnt] [smallint] NULL,
	[OvernattPris] [real] NULL,
	[LeieHele] [real] NULL,
	[Hele] [bit] NULL,
	[AnsvNavn] [nvarchar](255) NULL,
	[AnsvTelf] [nvarchar](255) NULL,
	[ArrAnsvID] [int] NULL,
	[ArrAssID] [int] NULL,
	[KundeKontakt] [nvarchar](255) NULL,
	[KundeEpost] [nvarchar](255) NULL,
	[KundeTlf] [nvarchar](255) NULL,
	[BekrID] [int] NULL,
	[Merknader] [nvarchar](max) NULL,
	[Oppgjort] [bit] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Arrangement] PRIMARY KEY CLUSTERED 
(
	[SelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Arrangementer] ON 

GO
SET IDENTITY_INSERT [dbo].[Arrangementer] OFF
SET IDENTITY_INSERT [dbo].[Kunde] ON 

INSERT [dbo].[Kunde] ([KundeID], [KundeNavn], [KundeKontakt], [KundeEpost], [FaktAdrGatePB], [FaktAdrSted], [Kommentarer], [AltaInternt], [Sponsor], [Firma]) VALUES (1, N'Intendant/stuert', NULL, NULL, NULL, NULL, NULL, 1, 0, 1)
INSERT [dbo].[Kunde] ([KundeID], [KundeNavn], [KundeKontakt], [KundeEpost], [FaktAdrGatePB], [FaktAdrSted], [Kommentarer], [AltaInternt], [Sponsor], [Firma]) VALUES (2, N'Besetning', NULL, NULL, NULL, NULL, NULL, 1, 0, 1)
INSERT [dbo].[Kunde] ([KundeID], [KundeNavn], [KundeKontakt], [KundeEpost], [FaktAdrGatePB], [FaktAdrSted], [Kommentarer], [AltaInternt], [Sponsor], [Firma]) VALUES (3, N'Lloyds Register Consultants', NULL, N'bjorn.inge.bakken@lr.org', NULL, NULL, NULL, 0, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Kunde] OFF
SET IDENTITY_INSERT [dbo].[Selskaper] ON 

GO
SET IDENTITY_INSERT [dbo].[Selskaper] OFF
/****** Object:  Index [IX_Arrangementer]    Script Date: 08.10.2019 16:22:44 ******/
CREATE NONCLUSTERED INDEX [IX_Arrangementer] ON [dbo].[Arrangementer]
(
	[SesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Arrangementer_1]    Script Date: 08.10.2019 16:22:44 ******/
CREATE NONCLUSTERED INDEX [IX_Arrangementer_1] ON [dbo].[Arrangementer]
(
	[TurReturID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Arrangementer_2]    Script Date: 08.10.2019 16:22:44 ******/
CREATE NONCLUSTERED INDEX [IX_Arrangementer_2] ON [dbo].[Arrangementer]
(
	[TurReturID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Arrangement]    Script Date: 08.10.2019 16:22:44 ******/
CREATE NONCLUSTERED INDEX [IX_Arrangement] ON [dbo].[Selskaper]
(
	[KundeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Arrangement_1]    Script Date: 08.10.2019 16:22:44 ******/
CREATE NONCLUSTERED INDEX [IX_Arrangement_1] ON [dbo].[Selskaper]
(
	[ArrAnsvID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Arrangement_2]    Script Date: 08.10.2019 16:22:44 ******/
CREATE NONCLUSTERED INDEX [IX_Arrangement_2] ON [dbo].[Selskaper]
(
	[ArrStedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Arrangement_3]    Script Date: 08.10.2019 16:22:44 ******/
CREATE NONCLUSTERED INDEX [IX_Arrangement_3] ON [dbo].[Selskaper]
(
	[ArrTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Arrangement_4]    Script Date: 08.10.2019 16:22:44 ******/
CREATE NONCLUSTERED INDEX [IX_Arrangement_4] ON [dbo].[Selskaper]
(
	[BekrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Arrangement_5]    Script Date: 08.10.2019 16:22:44 ******/
CREATE NONCLUSTERED INDEX [IX_Arrangement_5] ON [dbo].[Selskaper]
(
	[SelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Arrangement_6]    Script Date: 08.10.2019 16:22:44 ******/
CREATE NONCLUSTERED INDEX [IX_Arrangement_6] ON [dbo].[Selskaper]
(
	[ArrDato] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Arrangement_7]    Script Date: 08.10.2019 16:22:44 ******/
CREATE NONCLUSTERED INDEX [IX_Arrangement_7] ON [dbo].[Selskaper]
(
	[MatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Selskaper]    Script Date: 08.10.2019 16:22:44 ******/
CREATE NONCLUSTERED INDEX [IX_Selskaper] ON [dbo].[Selskaper]
(
	[ArrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_ArrNavn]  DEFAULT ('ArrNavn') FOR [ArrNavn]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_Sted]  DEFAULT ('Sted') FOR [Sted]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_Varighet]  DEFAULT ((2)) FOR [Varighet]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_Seilas]  DEFAULT ((0)) FOR [Seilas]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_Selskap_1]  DEFAULT ((0)) FOR [Selskap]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_OpenShip]  DEFAULT ((0)) FOR [OpenShip]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_Dugnad]  DEFAULT ((0)) FOR [Dugnad]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_Kontingent]  DEFAULT ((0)) FOR [Kontingent]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_Kostdag]  DEFAULT ((0)) FOR [Kostdag]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_Overnatt]  DEFAULT ((0)) FOR [Overnatt]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_Parkering]  DEFAULT ((0)) FOR [Parkering]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_SeskontAvheng]  DEFAULT ((0)) FOR [SeskontAvheng]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_TurReturID]  DEFAULT ((0)) FOR [TurReturID]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_VaktlengdeSeilas]  DEFAULT ((0)) FOR [VaktlengdeSeilas]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_VaktlengdeLand]  DEFAULT ((0)) FOR [VaktlengdeLand]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_Avlyst]  DEFAULT ((0)) FOR [Avlyst]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_Sikkerhetskurs]  DEFAULT ((0)) FOR [Sikkerhetskurs]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_VentelisteArr]  DEFAULT ((0)) FOR [VentelisteArr]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_SesID]  DEFAULT ((110)) FOR [SesID]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_Gangetid]  DEFAULT ((0)) FOR [Gangetid]
GO
ALTER TABLE [dbo].[Arrangementer] ADD  CONSTRAINT [DF_Arrangementer_Distanse]  DEFAULT ((0)) FOR [Distanse]
GO
ALTER TABLE [dbo].[Kunde] ADD  CONSTRAINT [DF_Kunde_AltaInternt]  DEFAULT ((0)) FOR [AltaInternt]
GO
ALTER TABLE [dbo].[Kunde] ADD  CONSTRAINT [DF_Kunde_Sponsor]  DEFAULT ((0)) FOR [Sponsor]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Selskaper_AnkKl]  DEFAULT (N'18:00') FOR [AnkKl]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Selskaper_SluttKl]  DEFAULT (N'23:00') FOR [SluttKl]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Arrangement_Kaffe]  DEFAULT ((0)) FOR [Kaffe]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Arrangement_Orientering]  DEFAULT ((0)) FOR [Orientering]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Arrangement_Båtdekk]  DEFAULT ((0)) FOR [Båtdekk]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Arrangement_MannMesse]  DEFAULT ((0)) FOR [MannMesse]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Arrangement_ForMesse]  DEFAULT ((0)) FOR [ForMesse]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Arrangement_AktMesse]  DEFAULT ((0)) FOR [AktMesse]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Arrangement_SeilasTimer]  DEFAULT ((0)) FOR [SeilasTimer]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Arrangement_OvernattAnt]  DEFAULT ((0)) FOR [OvernattAnt]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Z_Arrangement_LeieHele]  DEFAULT ((0)) FOR [LeieHele]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Z_Arrangement_Hele]  DEFAULT ((0)) FOR [Hele]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Arrangement_BekrID]  DEFAULT ((1)) FOR [BekrID]
GO
ALTER TABLE [dbo].[Selskaper] ADD  CONSTRAINT [DF_Arrangement_Oppgjort]  DEFAULT ((0)) FOR [Oppgjort]
GO
ALTER TABLE [dbo].[Arrangementer]  WITH CHECK ADD  CONSTRAINT [FK_Arrangementer_xSesonger] FOREIGN KEY([SesID])
REFERENCES [dbo].[xSesonger] ([SesID])
GO
ALTER TABLE [dbo].[Arrangementer] CHECK CONSTRAINT [FK_Arrangementer_xSesonger]
GO
ALTER TABLE [dbo].[Selskaper]  WITH CHECK ADD  CONSTRAINT [FK_Selskaper_Arrangementer] FOREIGN KEY([ArrID])
REFERENCES [dbo].[Arrangementer] ([ArrID])
GO
ALTER TABLE [dbo].[Selskaper] CHECK CONSTRAINT [FK_Selskaper_Arrangementer]
GO
ALTER TABLE [dbo].[Selskaper]  WITH CHECK ADD  CONSTRAINT [FK_Selskaper_Kunde] FOREIGN KEY([KundeID])
REFERENCES [dbo].[Kunde] ([KundeID])
GO
ALTER TABLE [dbo].[Selskaper] CHECK CONSTRAINT [FK_Selskaper_Kunde]
GO
ALTER TABLE [dbo].[Selskaper]  WITH CHECK ADD  CONSTRAINT [FK_Selskaper_Personer] FOREIGN KEY([ArrAnsvID])
REFERENCES [dbo].[Personer] ([PID])
GO
ALTER TABLE [dbo].[Selskaper] CHECK CONSTRAINT [FK_Selskaper_Personer]
GO
ALTER TABLE [dbo].[Selskaper]  WITH CHECK ADD  CONSTRAINT [FK_Selskaper_Personer1] FOREIGN KEY([ArrAssID])
REFERENCES [dbo].[Personer] ([PID])
GO
ALTER TABLE [dbo].[Selskaper] CHECK CONSTRAINT [FK_Selskaper_Personer1]
GO
ALTER TABLE [dbo].[Selskaper]  WITH CHECK ADD  CONSTRAINT [FK_Selskaper_SelskapMat] FOREIGN KEY([MatID])
REFERENCES [dbo].[SelskapMat] ([MatID])
GO
ALTER TABLE [dbo].[Selskaper] CHECK CONSTRAINT [FK_Selskaper_SelskapMat]
GO
ALTER TABLE [dbo].[Selskaper]  WITH CHECK ADD  CONSTRAINT [FK_Selskaper_SelskapSted] FOREIGN KEY([ArrStedID])
REFERENCES [dbo].[SelskapSted] ([ArrStedID])
GO
ALTER TABLE [dbo].[Selskaper] CHECK CONSTRAINT [FK_Selskaper_SelskapSted]
GO
ALTER TABLE [dbo].[Selskaper]  WITH CHECK ADD  CONSTRAINT [FK_Selskaper_SelskapTyper] FOREIGN KEY([ArrTypeID])
REFERENCES [dbo].[SelskapTyper] ([ArrTypeID])
GO
ALTER TABLE [dbo].[Selskaper] CHECK CONSTRAINT [FK_Selskaper_SelskapTyper]
GO
